<%= form_for(rpm_potency) do |f| %>
  <% if rpm_potency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rpm_potency.errors.count, "error") %> prohibited this rpm_potency from being saved:</h2>

      <ul>
      <% rpm_potency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :cost_factor %><br>
    <%= f.select :cost_factor, [0, 2] %>
  </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <%= f.hidden_field :campaign_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
