<h1>Listing Move Types</h1>

<%= page_entries_info move_types %>

<table class="fixed-table" style="width: 40%;">
  <thead>
    <tr>
      <th><%= sortable "move_types.name", MoveType, params, "Name" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% move_types.each_with_index do |move_type, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to move_type.name, move_type %></td>
        <%= render 'index_edit_destroy_links', target: move_type %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate move_types %>
<%= link_to 'New Move type', new_move_type_path %>
