<%= form_for(equipment_modifier_category) do |f| %>
  <% if equipment_modifier_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_modifier_category.errors.count, "error") %> prohibited this equipment_modifier_category from being saved:</h2>

      <ul>
      <% equipment_modifier_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 80 %>
  </div>

  <div class="field">
    <%= f.label :equipment_modifier_supercategory_id %><br>
    <%= f.collection_select :equipment_modifier_supercategory_id, EquipmentModifierSupercategory.order_by_name, :id, :to_s, {:include_blank => "-"} %>
  </div>

  <%= render 'expanding_fieldset', f: f,
    id: "equipment_modifiers", collection: :equipment_modifiers,
    partial: 'equipment_modifier_fields', label: 'add modifier', header: "Modifiers",
    header_list: [ :name, :base_cost_mod, :base_weight_mod, :cost_mod, :weight_mod, :random_weight, :notes ], freeform: nil %>

  <%= render 'many_to_many_checkbox_table',
    base_id: f.object_name.to_s + "[equipment_type_modifier_categories_attributes]",
    intersected_table: EquipmentType,
    table_class: "fixed-table", title: "Equipment Types", table_spec: table_spec %>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
