<p id="notice"><%= notice %></p>

<p>
  <strong>Weapon:</strong>
  <%= @parry_score.weapon %>
</p>

<p>
  <strong>Parry:</strong>
  <%= @parry_score.parry %>
</p>

<%= link_to 'Edit', edit_parry_score_path(@parry_score) %> |
<%= link_to 'Back', parry_scores_path %>
