<p id="notice"><%= notice %></p>

<h1>Listing Rpm Modifiers</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>

<%= page_entries_info rpm_modifiers %>

<table>
  <thead>
    <tr>
      <th><%= sortable "rpm_modifiers.name", RpmModifier, filter_params, "Name" %></th>
      <th><%= sortable "rpm_modifiers.short_name", RpmModifier, filter_params, "Short Name" %></th>
      <th>Levels</th>
      <th>Subtypes</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% rpm_modifiers.each do |rpm_modifier| %>
      <tr>
        <td><%= link_to rpm_modifier.name, rpm_modifier, { :class => "quiet" } %></td>
        <td><%= rpm_modifier.short_name %></td>
        <td class="count"><%= rpm_modifier.level_count %></td>
        <td class="count"><%= rpm_modifier.rpm_modifier_subtypes.count %></td>
        <%= edit_destroy_links rpm_modifier %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate rpm_modifiers %>

<%= link_to 'New Rpm modifier', new_rpm_modifier_path %>
