  <div class="field">
    <%= header %>:
    <fieldset id=<%= id %>>
      <ul class="nested-fields nested-field-container">
        <% if (not header_list.nil?) %>
	  <li class="control-group nested-fields nested-header" style="display: <%= (f.object.send(collection).any? ? "table-row" : "none" ) %>;">
	    <% header_list.each do |header_item| %>
                <span class="controls"><%= f.label header_item %></span>
	    <% end %>
	  </li>
        <% end %>
	<%= f.fields_for collection do |x| %>
	  <%= render partial, f: x %>
	<% end %>
      </ul>
      <%= link_to_add_association label, f, collection,
	'data-association-insertion-method' => "append",
	'data-association-insertion-node' => "#" + id + " ul"
      %>
    </fieldset>
  </div>