<div class="field">
  <span class="field-label"><%= f.label :description %></span>
  <fieldset class="expanding-fieldset-container">
    <%= simple_format f.object.ancestor_accumulate_field(:description), {:class => "longtext"}, wrapper_tag: "div" %>
    <%= f.text_area :description, :size => "80x5" %>
  </fieldset>
</div>

<div class="field">
  <span class="field-label"><%= f.label :notes %></span>
  <fieldset class="expanding-fieldset-container">
    <%= simple_format f.object.ancestor_accumulate_field(:notes), {:class => "longtext"}, wrapper_tag: "div" %><br>
    <%= f.text_area :notes, :size => "80x5" %>
  </fieldset>
</div>

<%= render 'form_page_reference_entry', f: f %>

<%= render 'expanding_fieldset', f: f,
  id: "illustrations", collection: :illustrations,
  partial: 'illustration_fields', label: 'add illustration', header: "Illustrations",
      header_list: [ :image, :notes ], freeform: nil  %>