<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'expanding_fieldset', f: f, 
    id: "monster-names", collection: :monster_names, 
    partial: 'monster_name_fields', label: 'add name', header: "Names" %>

  <div class="field">
    <%= f.label :monster_class_id %>
    <%= f.collection_select :monster_class_id, MonsterClass.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :dexterity %><br>
    <%= f.number_field :dexterity %>
  </div>
  <div class="field">
    <%= f.label :intelligence %><br>
    <%= f.number_field :intelligence %>
  </div>
  <div class="field">
    <%= f.label :health %><br>
    <%= f.number_field :health %>
  </div>
  <div class="field">
    <%= f.label :hitPoints %><br>
    <%= f.number_field :hitPoints %>
  </div>
  <div class="field">
    <%= f.label :will %><br>
    <%= f.number_field :will %>
  </div>
  <div class="field">
    <%= f.label :perception %><br>
    <%= f.number_field :perception %>
  </div>
  <div class="field">
    <%= f.label :fatigue %><br>
    <%= f.number_field :fatigue %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.text_field :speed %>
  </div>
  
  <%= render 'expanding_fieldset', f: f, 
    id: "movement-rates", collection: :movement_rates, 
    partial: 'movement_rate_fields', label: 'add move', header: "Move" %>

  <div class="field">
    <%= f.label :sizeModifier %><br>
    <%= f.number_field :sizeModifier %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  
  <%= render 'expanding_fieldset', f: f, 
    id: "damage-resistances", collection: :damage_resistances, 
    partial: 'damage_resistance_fields', label: 'add DR', header: "DR" %>
  
  <%= render 'expanding_fieldset', f: f, 
    id: "attacks", collection: :attacks, 
    partial: 'attack_fields', label: 'add attack', header: "Attacks" %>

  <%= render 'expanding_fieldset', f: f, 
    id: "traits", collection: :traits, 
    partial: 'trait_fields', label: 'add trait', header: "Traits" %>

  <%= render 'expanding_fieldset', f: f, 
    id: "skills", collection: :skills, 
    partial: 'skill_fields', label: 'add skill', header: "Skills" %>

  <div class="field">
    <%= f.label :gear %><br>
    <%= f.text_area :gear %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :dodge %><br>
    <%= f.number_field :dodge %>
  </div>

  <%= render 'expanding_fieldset', f: f, 
    id: "parry-scores", collection: :parry_scores, 
    partial: 'parry_score_fields', label: 'add Parry', header: "Parry" %>

  <div class="field">
    <%= f.label :block %><br>
    <%= f.number_field :block %>
  </div>
  
  <%= render 'expanding_fieldset', f: f, 
    id: "page-references", collection: :page_references, 
    partial: 'page_reference_fields', label: 'add page reference', header: "Sources" %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
