<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Names:
    <ul>
      <%= f.fields_for :monster_names do |name_form| %>
	<li>
	  <%= name_form.label :name %>
	  <%= name_form.text_field :name %>
	  
	  <%= name_form.label :primary %>
	  <%= name_form.check_box :primary %>

	  <%= name_form.label :notes %>
	  <%= name_form.text_area :notes %>	  
	  
	  <%= name_form.check_box :_destroy %>
	</li>
      <% end %>
      <%= f.submit 'Add name', :name => "add_monster_name" %>
      <%= f.submit 'Deleted checked names', :name => "remove_monster_name" %>
    </uL>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :dexterity %><br>
    <%= f.number_field :dexterity %>
  </div>
  <div class="field">
    <%= f.label :intelligence %><br>
    <%= f.number_field :intelligence %>
  </div>
  <div class="field">
    <%= f.label :health %><br>
    <%= f.number_field :health %>
  </div>
  <div class="field">
    <%= f.label :hitPoints %><br>
    <%= f.number_field :hitPoints %>
  </div>
  <div class="field">
    <%= f.label :will %><br>
    <%= f.number_field :will %>
  </div>
  <div class="field">
    <%= f.label :perception %><br>
    <%= f.number_field :perception %>
  </div>
  <div class="field">
    <%= f.label :fatigue %><br>
    <%= f.number_field :fatigue %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :sizeModifier %><br>
    <%= f.number_field :sizeModifier %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :gear %><br>
    <%= f.text_area :gear %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :dodge %><br>
    <%= f.number_field :dodge %>
  </div>
  <div class="field">
    <%= f.label :block %><br>
    <%= f.number_field :block %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
