<div class="field">
  <span class="field-label"><%= f.label :description %></span>
  <fieldset class="expanding-fieldset-container">
    <%= simple_format f.object.ancestor_description, {:class => "longtext"}, wrapper_tag: "div" %>
    <%= f.text_area :description, :size => "80x5" %>
  </fieldset>
</div>

<div class="field">
  <span class="field-label"><%= f.label :notes %></span>
  <fieldset class="expanding-fieldset-container">
    <%= simple_format f.object.ancestor_notes, {:class => "longtext"}, wrapper_tag: "div" %><br>
    <%= f.text_area :notes, :size => "80x5" %>
  </fieldset>
</div>

<%= render 'expanding_fieldset', f: f,
  id: "page-references", collection: :page_references,
  partial: 'page_reference_fields', label: 'add page reference', header: "Sources",
      header_list: [ :book_id, :pages ], freeform: nil  %>

<%= render 'expanding_fieldset', f: f,
  id: "illustrations", collection: :illustrations,
  partial: 'illustration_fields', label: 'add illustration', header: "Illustrations",
      header_list: [ :image, :notes ], freeform: nil  %>