<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :book_id %>
    <%= f.collection_select :book_id, Book.order(:name), :id, :name, include_blank: true %>
    
    <%= f.label :pages %>
    <%= f.text_field :pages %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>
