<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :weapon %>
    <%= f.text_field :weapon %>

    <%= f.label :parry %>
    <%= f.number_field :parry %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>
