<div class="threecolumnblock">
  <div class="threecol1">
    <div><span class="field-label show">ST</span> <%= monster.characteristic_score "ST" %></div>
    <div><span class="field-label show">DX</span> <%= monster.characteristic_score "DX" %></div>
    <div><span class="field-label show">IQ</span> <%= monster.characteristic_score "IQ" %></div>
    <div><span class="field-label show">HT</span> <%= monster.characteristic_score "HT" %></div>
    <div><span class="field-label show">Dodge</span> <%= monster.dodge %></div>
  </div>
  <div class="threecol2">
    <div><span class="field-label show">Hitpoints</span> <%= monster.characteristic_score "HP" %></div>
    <div><span class="field-label show">Will</span> <%= monster.characteristic_score "Will" %></div>
    <div><span class="field-label show">Perception</span> <%= monster.characteristic_score "Per" %></div>
    <div><span class="field-label show">Fatigue</span> <%= monster.characteristic_score "Fatigue" %></div>
    <div>
      <span class="field-label show">Parry</span>
	<% monster.parry_scores.each do |parry| %>
	  <%= parry.weapon %> <%= parry.parry %> <br>
	<% end %>
      <br>
      <% if ! monster.block.nil? %>
	<span class="field-label show">Block</span> <%= monster.block %>
      <% end %>
    </div>
  </div>
  <div class="threecol3">
    <div><span class="field-label show">Speed</span> <%= monster.characteristic_score "Speed" %></div>
    <div>
      <span class="field-label show">Move</span>
      <% monster.movement_rates.each do |mv| %>
	<%= mv.rate %><%= mv.enhanced_rate.nil? ? "" : "/" + mv.enhanced_rate.to_s %> (<%= mv.move_type_name %>)<br>
      <% end %>
    </div>
    <div>
      <span class="field-label show">SM</span> <%= monster.characteristic_score "SM" %>
      &nbsp;&nbsp;&nbsp;
      <% unless monster.height.to_s.empty? %>
	Height <%= monster.height %>
      <% end %>
      <% unless monster.weight.to_s.empty? %>
	Weight <%= monster.weight %>
      <% end %>
    </div>
    <% if monster.damage_resistances.any? %>
      <div>
	<span class="field-label show">DR</span>
	  <% monster.damage_resistances.each do |dr| %>
	    <%= simpleDR dr %> <br>
	  <% end %>
      </div>
    <% end %>
  </div>
</div>
  