<table class="statblock">
  <tr>
    <td class="statblock">
      <strong>ST:</strong> <%= monster.characteristic_score "ST" %>
    </td class="statblock">
    <td class="statblock"><strong>Hitpoints:</strong> <%= monster.characteristic_score "HP" %></td>
    <td class="statblock"><strong>Speed:</strong> <%= monster.characteristic_score "Speed" %></td>
  </tr>
  <tr>
    <td class="statblock">
      <strong>DX:</strong> <%= monster.characteristic_score "DX" %>
    </td class="statblock">
    <td class="statblock"><strong>Will:</strong> <%= monster.characteristic_score "Will" %></td>
    <td class="statblock">
      <strong>Move:</strong>
      <% monster.movement_rates.each do |mv| %>
	<%= mv.rate %><%= mv.enhanced_rate.nil? ? "" : "/" + mv.enhanced_rate.to_s %> (<%= mv.move_type_name %>)<br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="statblock">
      <strong>IQ:</strong> <%= monster.characteristic_score "IQ" %>
    </td>
    <td class="statblock"><strong>Perception:</strong> <%= monster.characteristic_score "Per" %></td>
    <td class="statblock">
      <strong>SM:</strong> <%= monster.characteristic_score "SM" %>
      <% if monster.height.to_s.length > 0 %>
	<br>
	<strong>Height:</strong> <%= monster.height %>
      <% end %>
      <% if monster.weight.to_s.length > 0 %>
	<br>
	<strong>Weight:</strong> <%= monster.weight %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="statblock">
      <strong>HT:</strong> <%= monster.characteristic_score "HT" %>
    </td>
    <td class="statblock"><strong>Fatigue:</strong> <%= monster.characteristic_score "Fatigue" %></td>
    <td class="statblock">

    </td>
  </tr>
  <tr>
    <td class="statblock"><strong>Dodge:</strong> <%= monster.dodge %></td>
    <td class="statblock">
      <strong>Parry:</strong>
	<% monster.parry_scores.each do |parry| %>
	  <%= parry.weapon %> <%= parry.parry %> <br>
	<% end %>
      <br>
      <% if ! monster.block.nil? %>
	<strong>Block:</strong> <%= monster.block %>
      <% end %>
    </td>
    <td class="statblock">
      <strong>DR:</strong>
	<% monster.damage_resistances.each do |dr| %>
	  <%= simpleDR dr %> <br>
	<% end %>
    </td>
  </tr>
</table>
  