<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :master_skill_id %>
    <%= f.collection_select :master_skill_id, MasterSkill.order(:name), :id, :name %>
    
    <%= f.label :modifier %>
    <%= f.number_field :modifier %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>
