<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>
<h2>
  <% filter_params.each do |filter| %>
    <%= "#{filter[0].titleize.downcase}" %>
    <% if filter_params.count > 1 %>
      <%= link_to "'#{filter[1]}'", monsters_path(filter[0] => filter[1]), :class => "quiet" %>
    <% else %>
      <%= "'#{filter[1]}'" %>
    <% end %>
  <% end %>
</h2>
<% variant_on_page = monsters.any? { |m| (! m.root? ) } %>
<% alias_on_page = monsters.any? { |m| m.monster_names.any? } %>

<%= page_entries_info monsters %>

<table>
  <thead>
    <tr>
      <th><%= sortable "monsters.name", "Name" %></th>
      <% if alias_on_page %>
        <th>Aliases</th>
      <% end %>
      <th><%= sortable "monster_classes.name", "Class" %></th>
      <th>Description</th>
      <% if variant_on_page %>
        <th>Variant of</th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% monsters.each do |monster| %>
      <tr>
        <td><%= link_to monster.name, monster.specific, :class => "quiet" %></td>
        <% if alias_on_page %>
	  <td><%= monster_alias_list monster %></td>
	<% end %>
	<td><%= link_to monster.monster_class_name, monster.monster_class, :class => "quiet" %></td>
        <td><%= truncate monster.description, :length => 60, :separator => /\s/, :omission => "\u2026" %></td>
        <% if variant_on_page %>
          <td>
            <% if ! monster.root? %>
              <%= link_to monster.parent.name, monster.parent.specific, :class => "quiet" %>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to 'Edit', edit_polymorphic_path(monster.specific) %></td>
        <td><%= link_to 'Destroy', monster.specific, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless params[:starting_with ] %>
  Filter by first letter of name:
  <% starts_with_tags.each do |starting_character| %>
    <span style="padding-right: 5px;"><%= link_to "#{starting_character}", monsters_path(filter_params.merge(:starting_with => "#{starting_character}")) %></span>
  <% end %>
  <br>
<% end %>

<%= paginate monsters %>

