<h1>Listing Monsters</h1>
<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>
<% variant_on_page = monsters.any? { |m| (! m.root? ) } %>
<% alias_on_page = monsters.any? { |m| m.monster_names.any? } %>

<%= page_entries_info monsters %>

<table class="fixed-table" style="width: 100%;">
  <thead>
    <tr>
      <th style="width: 15%;"><%= sortable "monsters.name", Monster, params, "Name" %></th>
      <% if alias_on_page %>
        <th style="width: 15%;">Aliases</th>
      <% end %>
      <th style="width: 10%;"><%= sortable "monster_classes.name", Monster, params, "Class" %></th>
      <th>Description</th>
      <% if variant_on_page %>
        <th style="width: 15%;">Variant of</th>
      <% end %>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% monsters.each_with_index do |monster, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to monster.name, monster.specific, :class => "quiet", :title => monster.name %></td>
        <% if alias_on_page %>
	  <td><%= monster_alias_list monster %></td>
	<% end %>
	<td><%= link_to monster.monster_class_name, monster.monster_class, :class => "quiet", :title => monster.monster_class_name %></td>
        <td><span title="<%= monster.description %>"><%= monster.description %></span></td>
        <% if variant_on_page %>
          <td>
            <% if ! monster.root? %>
              <%= link_to monster.parent.name, monster.parent.specific, :class => "quiet", :title => monster.parent.name %>
            <% end %>
          </td>
        <% end %>
        <%= render 'index_edit_destroy_links', target: monster.specific %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate monsters %>

