<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>
<h2>
  <% filter_params.each do |filter| %>
    <%= "#{filter[0].titleize.downcase}" %>
    <% display_param = (filter[0].to_s =~ /in_campaign/ ? campaign_name : filter[1]) %>
    <% if filter_params.count > 1 %>
      <%= link_to "'#{display_param}'", monsters_path(filter[0] => filter[1]), :class => "quiet" %>
    <% else %>
      <%= "'#{display_param}'" %>
    <% end %>
  <% end %>
</h2>
<% variant_on_page = monsters.any? { |m| (! m.root? ) } %>
<% alias_on_page = monsters.any? { |m| m.monster_names.any? } %>

<%= page_entries_info monsters %>

<table class="fixed-table" style="width: 100%;">
  <thead>
    <tr>
      <th style="width: 15%;"><%= sortable "monsters.name", Monster, params, "Name" %></th>
      <% if alias_on_page %>
        <th style="width: 15%;">Aliases</th>
      <% end %>
      <th style="width: 10%;"><%= sortable "monster_classes.name", Monster, params, "Class" %></th>
      <th>Description</th>
      <% if variant_on_page %>
        <th style="width: 15%;">Variant of</th>
      <% end %>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% monsters.each_with_index do |monster, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to monster.name, monster.specific, :class => "quiet", :title => monster.name %></td>
        <% if alias_on_page %>
	  <td><%= monster_alias_list monster %></td>
	<% end %>
	<td><%= link_to monster.monster_class_name, monster.monster_class, :class => "quiet", :title => monster.monster_class_name %></td>
        <td><span title="<%= monster.description %>"><%= monster.description %></span></td>
        <% if variant_on_page %>
          <td>
            <% if ! monster.root? %>
              <%= link_to monster.parent.name, monster.parent.specific, :class => "quiet", :title => monster.parent.name %>
            <% end %>
          </td>
        <% end %>
        <%= render 'index_edit_destroy_links', target: monster.specific %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless params[:starting_with ] %>
  <div class="field">
    <span class="filter-label">Filter by initial</span>
    <table class="fixed-table boxed-list">
      <% starts_with_tags.each_with_index do |starting_character, index| %>
        <%= render :layout => 'layouts/fixed_table_columns', :locals => { :index => index, :number_of_columns => 30, :total_count => monsters.count } do %>
          <%= link_to "#{starting_character}", monsters_path(filter_params.merge(:starting_with => "#{starting_character}")) %>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>

<div class="field">
  <span class="filter-label">Filter by campaign</span>
  <table class="fixed-table boxed-list">
    <% campaigns.each_with_index do |campaign, index| %>
      <%= render :layout => 'layouts/fixed_table_columns',
          :locals => { :index => index, :number_of_columns => 5, :total_count => monsters.count } do %>
        <% if filter_params[:in_campaign].to_s == campaign.id.to_s %>
          <%= "#{campaign.name}" %>
        <% else %>
          <%= link_to "#{campaign.name}",
            monsters_path(filter_params.merge(:in_campaign => "#{campaign.id}")),
            :title => campaign.name + " (" + pluralize(campaign.monsters.count, "monster") + ")" %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>


<%= paginate monsters %>

