<h1>Listing Monsters</h1>
<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>
<% variant_on_page = monsters.any? { |m| (! m.root? ) } %>
<% alias_on_page = monsters.any? { |m| m.monster_names.any? } %>

<%= page_entries_info monsters %>

<table class="fixed-table" style="width: 80%;">
  <thead>
    <tr>
      <th><%= sortable "monsters.name", Monster, filter_params, "Name" %></th>
      <% if alias_on_page %>
        <th style="width: 15%;">Aliases</th>
      <% end %>
      <th style="width: 10%;"><%= sortable "monster_classes.name", Monster, filter_params, "Class" %></th>
      <% if variant_on_page %>
        <th style="width: 15%;">Variant of</th>
      <% end %>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% monsters.each_with_index do |monster, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= react_component 'QuietLink', { txt: monster.name, url: url_for(monster), popupText: monster.description }, { tag: "span" } %></td>
        <% if alias_on_page %>
	  <td><%= monster_alias_list monster %></td>
	<% end %>
	<td><%= react_component 'QuietLink', { txt: monster.monster_class_name, url: url_for(monster.monster_class), popupText: monster.monster_class_name }, { tag: "span" } %></td>
        <% if variant_on_page %>
          <td>
            <% if ! monster.root? %>
              <%= react_component 'QuietLink', { txt: monster.parent.name, url: url_for(monster.parent), popupText: monster.parent.description }, {tag: "span"} %>
            <% end %>
          </td>
        <% end %>
        <%= edit_destroy_links monster %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate monsters %>

