<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>

<%= page_entries_info @monsters %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Aliases</th>
      <th>Class</th>
      <th>Strength</th>
      <th>Dexterity</th>
      <th>Intelligence</th>
      <th>Health</th>
      <th>Hitpoints</th>
      <th>Will</th>
      <th>Perception</th>
      <th>Fatigue</th>
      <th>Speed</th>
      <th>Size Modifier</th>
      <th>OR</th>
      <th>PR</th>
      <th>CER</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
	<td><%= monster.names_to_s %></td>
	<td><%= monster.monster_class_name %></td>
        <td><%= monster.characteristic_score "ST" %></td>
        <td><%= monster.characteristic_score "DX" %></td>
        <td><%= monster.characteristic_score "IQ" %></td>
        <td><%= monster.characteristic_score "HT" %></td>
        <td><%= monster.characteristic_score "HP" %></td>
        <td><%= monster.characteristic_score "Will" %></td>
        <td><%= monster.characteristic_score "Per" %></td>
        <td><%= monster.characteristic_score "Fatigue" %></td>
        <td><%= monster.characteristic_score "Speed" %></td>
        <td><%= monster.characteristic_score "SM" %></td>
        <td><%= monster.characteristic_score "OR" %></td>
        <td><%= monster.characteristic_score "PR" %></td>
        <td><%= monster.combat_effectiveness_rating %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @monsters %>
<%= link_to 'New Monster', new_monster_path %>
