<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>
<h2><%= "with names starting with '#{params[:starts_with]}'" unless params[:starts_with].blank? %></h2>
<h2><%= "created on '#{params[:created_on]}'" unless params[:created_on].blank? %></h2>
<h2><%= "updated on '#{params[:updated_on]}'" unless params[:updated_on].blank? %></h2>
<% variant_on_page = monsters.any? { |m| (! m.root? ) } %>
<% alias_on_page = monsters.any? { |m| m.monster_names.any? } %>

<%= page_entries_info monsters %>

<table>
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <% if alias_on_page %>
        <th>Aliases</th>
      <% end %>
      <th>Class</th>
      <th>Description</th>
      <% if variant_on_page %>
        <th>Variant</th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% monsters.each do |monster| %>
      <tr>
        <td><%= link_to monster.name, monster.specific %></td>
        <% if alias_on_page %>
	  <td><%= monster_alias_list monster %></td>
	<% end %>
	<td><%= link_to monster.monster_class_name, monster.monster_class %></td>
        <td><%= truncate monster.description, :length => 60, :separator => /\s/, :omission => "\u2026" %></td>
        <% if variant_on_page %>
          <td><%= monster.parent %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_polymorphic_path(monster.specific) %></td>
        <td><%= link_to 'Destroy', monster.specific, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Filter by first letter of name:
<% Monster.group("substr(upper(name), 1,1)").count.map do |starting_character, count| %>
  <span style="padding-right: 5px;"><%= link_to "#{starting_character}", monsters_path(:starts_with => "#{starting_character}") %></span>
<% end %>
  <span style="padding-right: 5px;"><%= link_to "(All)", monsters_path %></span>
<br>

<%= paginate monsters %>
<%= link_to 'New Creature', new_creature_path %>
