<p id="notice"><%= notice %></p>
<% if @monster.illustrations.any? %>
  <div class="illo">
    <% @monster.illustrations.each do |illustration| %>
      <%= image_tag illustration.image.url(:medium) %>
      <%= illustration.notes.to_s %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= @monster.name %>
</h1>

<div>
  <% if @monster.monster_names.count > 0 %>
    <div>
      <span class="field-label show">Aliases</span>
      <%= @monster.names_to_s %>
    </div>
  <% end %>

  <% unless @monster.monster_class_name.empty? %>
    <div>
      <span class="field-label show">Class</span>
      <%= @monster.monster_class_name %>
    </div>
  <% end %>

  <% unless @monster.description.to_s.empty? %>
    <div>
      <span class="field-label show">Description</span>
      <%=simple_format @monster.description %>
    </div>
  <% end %>

  <%= render 'show_stat_block', monster: @monster %>

  <div style="display: table;">
    <div style="display: table-row;">
      <div class="field-label show trait">Attacks</div>
	<% if not @monster.attacks.any? %>
	  <div class="trait">None</div>
	<% else %>
	  <div class="trait">
	    <ul class="vertical-list">
	      <% @monster.attacks.each do |attack| %>
		<li class="attack-line">
		  <span class="attack-label">
		    <%= attack.name %>
		    <% unless attack.skill.to_s.empty? %>
		      (<%= attack.skill %>)
		    <% end %>
		  </span>
		  <span class="attack-description"><%= attack.description %></span>
		</li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
    </div>

    <% if @monster.traits.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Traits</div>
        <div class="trait">
	  <%= @monster.traits.collect { |x| x.to_s }.sort().join('; ') %>
	</div>
      </div>
    <% end %>

    <% if @monster.skills.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Skills</div>
        <div class="trait">
	  <%= @monster.skills.collect { |x| x.to_s }.sort().join('; ') %>
	</div>
      </div>
    <% end %>

    <% unless @monster.gear.to_s.empty? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Gear</div>
        <div class="trait">
	  <%= @monster.gear %>
	</div>
      </div>
    <% end %>

    <% unless @monster.notes.to_s.empty? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Notes</div>
        <div class="trait">
	  <%= @monster.notes %>
	</div>
      </div>
    <% end %>

    <% if @monster.page_references.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Sources</div>
        <div class="trait">
	  <% @monster.page_references.each do |pg| %>
	    <%= pg.to_s %> <br>
	  <% end %>
	</div>
      </div>
    <% end %>

    <% unless @monster.parts_value.to_s.empty? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Parts Value</div>
        <div class="trait">
	  <%= money_without_cents_and_with_symbol @monster.parts_value %>/lb.
	</div>
      </div>
    <% end %>

    <% unless (@monster.characteristic_score "OR").to_s.empty? && (@monster.characteristic_score "PR").to_s.empty? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Threat Ratings</div>
        <div class="trait">
	  <div>Offensive Rating: <%= @monster.characteristic_score "OR" %></div>
	  <div>Protective Rating: <%= @monster.characteristic_score "PR" %></div>
	  <div>Combat Effectiveness Rating: <%= @monster.combat_effectiveness_rating %></div>
	</div>
      </div>
    <% end %>

  </div>
</div>

<br>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Index', monsters_path %>