<p id="notice"><%= notice %></p>
<p>
  <strong>Name(s):</strong>
  <%= @monster.namelist %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @monster.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @monster.dexterity %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @monster.intelligence %>
</p>

<p>
  <strong>Health:</strong>
  <%= @monster.health %>
</p>

<p>
  <strong>Hitpoints:</strong>
  <%= @monster.hitPoints %>
</p>

<p>
  <strong>Will:</strong>
  <%= @monster.will %>
</p>

<p>
  <strong>Perception:</strong>
  <%= @monster.perception %>
</p>

<p>
  <strong>Fatigue:</strong>
  <%= @monster.fatigue %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @monster.speed %>
</p>

<p>
  <strong>Move:</strong>
    <ul>
      <% @monster.movement_rates.each do |mv| %>
	<li> <%= mv.rate %> (<%= TerrainType.find(mv.terrain_type_id).name %>)
      <% end %>
    </ul>
</p>

<p>
  <strong>Size Modifier:</strong>
  <%= @monster.sizeModifier %>
</p>

<p>
  <strong>Height:</strong>
  <%= @monster.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @monster.weight %>
</p>

<p>
  <strong>DR:</strong>
    <ul>
      <% @monster.damage_resistances.each do |dr| %>
	<li> <%= simpleDR dr %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Attacks:</strong>
    <ul>
      <% @monster.attacks.each do |attack| %>
	<li> <strong><%= attack.name %> (<%= attack.skill %>)</strong> <%= attack.description %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Traits:</strong>
    <ul>
      <% @monster.traits.each do |trait| %>
	<li> <%= simpleTrait trait %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Skills:</strong>
    <ul>
      <% @monster.skills.each do |skill| %>
	<li> <%= simpleSkill skill %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Gear:</strong>
  <%= @monster.gear %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monster.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @monster.notes %>
</p>

<p>
  <strong>Dodge:</strong>
  <%= @monster.dodge %>
</p>

<p>
  <strong>Parry:</strong>
    <ul>
      <% @monster.parry_scores.each do |parry| %>
	<li> <%= parry.weapon %> <%= parry.parry %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Block:</strong>
  <%= @monster.block %>
</p>

<p>
  <strong>Sources:</strong>
    <ul>
      <% @monster.page_references.each do |pg| %>
	<li> <%= Book.find(pg.book_id).name %> p.<%= pg.pages %>
      <% end %>
    </ul>
</p>


<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
