<p id="notice"><%= notice %></p>
<p>
  <strong>Name(s):</strong>
  <%= @monster.namelist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monster.description %>
</p>

<%= render 'show_stat_block', m: @monster %>

<p>
  <strong>Attacks:</strong>
    <ul>
      <% @monster.attacks.each do |attack| %>
	<li> <strong><%= attack.name %> (<%= attack.skill %>)</strong> <%= attack.description %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Traits:</strong>
    <ul>
      <% @monster.traits.each do |trait| %>
	<li> <%= simpleTrait trait %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Skills:</strong>
    <ul>
      <% @monster.skills.each do |skill| %>
	<li> <%= simpleSkill skill %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Gear:</strong>
  <%= @monster.gear %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @monster.notes %>
</p>

<p>
  <strong>Sources:</strong>
    <ul>
      <% @monster.page_references.each do |pg| %>
	<li> <%= Book.find(pg.book_id).name %> p.<%= pg.pages %>
      <% end %>
    </ul>
</p>


<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
