<p id="notice"><%= notice %></p>
<h1>
  <%= @monster.name %>
</h1>

<p>
  <strong>Aliases:</strong>
  <%= @monster.names_to_s %>
</p>

<p>
  <strong>Class:</strong>
  <%= @monster.monster_class_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monster.description %>
</p>

<%= render 'show_stat_block', monster: @monster %>

<table>
  <tr>
    <td><strong>Attacks:</strong></td>
    <td>
      <ul>
	<% @monster.attacks.each do |attack| %>
	  <li> <strong><%= attack.name %> (<%= attack.skill %>)</strong> <%= attack.description %>
	<% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Traits:</strong></td>
    <td>
      <%= @monster.traits.collect { |x| x.to_s }.sort().join('; ') %>
    </td>
  </tr>
  <tr>
    <td><strong>Skills:</strong></td>
    <td>
      <% @monster.skills.each do |skill| %>
	<%= skill.to_s %> <br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Gear:</strong></td>
    <td>
      <%= @monster.gear %>
    </td>
  </tr>

  <tr>
    <td><strong>Notes:</strong></td>
    <td>
      <%= @monster.notes %>
    </td>
  </tr>

  <tr>
    <td><strong>Sources:</strong></td>
    <td>
      <% @monster.page_references.each do |pg| %>
	<%= pg.book?.name %> p.<%= pg.pages %> <br>
      <% end %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
