<p id="notice"><%= notice %></p>

<h1>Listing Rpm Rituals</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>

<%= page_entries_info rpm_rituals %>

<table>
  <thead>
    <tr>
      <th><%= sortable "rpm_rituals.name", RpmRitual, params, "Name" %></th>
      <th>Inherent Effects</th>
      <th style="width: 50px;"><%= sortable "rpm_rituals.inherent_cost", RpmRitual, params, "Inherent Casting Cost" %></th>
      <th style="width: 50px;"><%= sortable "rpm_rituals.typical_cost", RpmRitual, params, "Typical Casting Cost" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% rpm_rituals.each do |rpm_ritual| %>
      <tr>
        <td><%= link_to rpm_ritual.name, rpm_ritual_path(rpm_ritual), { :class => "quiet" } %></td>
        <td><%= rpm_ritual.rpm_spell_effects.inherent_only.collect(&:to_short_s).sort.join(", ") %></td>
        <td class="count"><%= rpm_ritual.inherent_cost %></td>
        <td class="count"><%= rpm_ritual.typical_cost %></td>
        <%= render 'index_edit_destroy_links', target: rpm_ritual %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate rpm_rituals %>

<%= link_to 'New Rpm ritual', new_rpm_ritual_path %>
