<p id="notice"><%= notice %></p>

<h1>Listing Rpm Rituals</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>

<%= page_entries_info rpm_rituals %>

<table class="fixed-table">
  <thead>
    <tr>
      <th style="width: 20%; white-space: normal;"><%= sortable "rpm_rituals.name", RpmRitual, params, "Name" %></th>
      <th style="width: 25%; white-space: normal;">Inherent Effects</th>
      <th style="width: 25%; white-space: normal;">Inherent Modifiers</th>
      <th style="width: 50px; white-space: normal;"><%= sortable "rpm_rituals.inherent_cost", RpmRitual, params, "Inherent Casting Cost" %></th>
      <th style="width: 50px; white-space: normal;"><%= sortable "rpm_rituals.typical_cost", RpmRitual, params, "Typical Casting Cost" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% rpm_rituals.each do |rpm_ritual| %>
      <% effects = rpm_inherent_spell_effects_text(rpm_ritual, ", ") -%>
      <% mods = rpm_inherent_spell_modifiers_text(rpm_ritual, ", ") -%>
      <tr>
        <td><%= link_to rpm_ritual.name, rpm_ritual_path(rpm_ritual), { :class => "quiet" } %></td>
        <td><%= content_tag :span, effects, :title => effects, :class => "hover-highlight" %></td>
        <td><%= content_tag :span, mods, :title => mods, :class => "hover-highlight" %></td>
        <td class="count"><%= rpm_ritual.inherent_cost %></td>
        <td class="count"><%= rpm_ritual.typical_cost %></td>
        <%= render 'index_edit_destroy_links', target: rpm_ritual %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate rpm_rituals %>

<%= link_to 'New Rpm ritual', new_rpm_ritual_path %>
