<p id="notice"><%= notice %></p>

<%= render 'show', rpm_ritual: rpm_ritual %>

<div style="padding-top: 15px;">
  <%= link_to 'Edit', edit_rpm_ritual_path(rpm_ritual) %> |
  <%= link_to 'Index', rpm_rituals_path %> |
  <%= link_to 'Duplicate', duplicate_rpm_ritual_path(rpm_ritual) %> |
  <%= link_to 'Create variant', variant_rpm_ritual_path(rpm_ritual) %>
</div>
