<p id="notice"><%= notice %></p>

<div class="rpm_ritual_title"><%= rpm_ritual.name %></div>

<div>
  <span class="rpm_ritual_label">Spell Effects: </span>
  <% txt = rpm_inherent_spell_effects_text(rpm_ritual) -%>
  <%= (txt.present? ? txt : "None.") %>
</div>

<div>
  <span class="rpm_ritual_label">Inherent Modifiers: </span>
  <% txt = rpm_inherent_spell_modifiers_text(rpm_ritual) -%>
  <%= (txt.present? ? txt : "None.") %>
</div>

<div>
  <span class="rpm_ritual_label">Greater Effects: </span>
  <%= rpm_ritual.rpm_spell_effects.inherent_only.greater_effect.count %> 
  (x<%= rpm_ritual.inherent_cost_factor %>)
</div>


<div class="multiline-description"><%= rpm_ritual.description %></div>

<div>
  <span class="rpm_ritual_label">Typical Casting: </span>
  <span><%= rpm_ritual.all_elements.collect(&:to_long_s).join(" + ") %>.</span>
  <span style="font-style: italic;">
    <%= rpm_ritual.typical_cost %> energy (<%= rpm_ritual.base_cost %> x <%= rpm_ritual.overall_cost_factor %>). 
  </span>
  <br>
  <span class="rpm_ritual_label">
    Recommended skill:
  </span>
  <span>
    <%= rpm_ritual.effective_skill %>
  </span>
</div>

<% if rpm_ritual.page_references.any? %>
  <div style="padding-top: 15px;">
    <span class="rpm_ritual_label">Sources:</span>
    <span>
      <%= page_references_compact(rpm_ritual) %>
    <span>
  </div>
<% end %>

<div style="padding-top: 15px;">
  <%= link_to 'Edit', edit_rpm_ritual_path(rpm_ritual) %> |
  <%= link_to 'Index', rpm_rituals_path %> |
  <%= link_to 'Duplicate', duplicate_rpm_ritual_path(rpm_ritual) %>
</div>
