<p id="notice"><%= notice %></p>

<p>
  <strong>Monster:</strong>
  <%= @damage_resistance.monster %>
</p>

<p>
  <strong>Location:</strong>
  <%= @damage_resistance.location %>
</p>

<p>
  <strong>Dr:</strong>
  <%= @damage_resistance.dr %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @damage_resistance.notes %>
</p>

<%= link_to 'Edit', edit_damage_resistance_path(@damage_resistance) %> |
<%= link_to 'Back', damage_resistances_path %>
