<%= form_for(@monster_name) do |f| %>
  <% if @monster_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster_name.errors.count, "error") %> prohibited this monster_name from being saved:</h2>

      <ul>
      <% @monster_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monster_id %><br>
    <%= f.text_field :monster_id %>
  </div>
  <div class="field">
    <%= f.label :primary %><br>
    <%= f.check_box :primary %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
