<p id="notice"><%= notice %></p>

<p>
  <strong>Monster:</strong>
  <%= @monster_name.monster %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @monster_name.primary %>
</p>

<p>
  <strong>Name:</strong>
  <%= @monster_name.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @monster_name.notes %>
</p>

<%= link_to 'Edit', edit_monster_name_path(@monster_name) %> |
<%= link_to 'Back', monster_names_path %>
