<%= form_for creature, :html => { :multipart => true } do |f| %>
  <% if creature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creature.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% creature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= render 'expanding_fieldset', f: f,
    id: "monster-names", collection: :monster_names,
    partial: 'monster_name_fields', label: 'add alias', header: "Aliases",
	header_list: [ :name, :notes ], freeform: nil  %>

  <div class="field">
    <%= f.label :monster_class_id %>
    <%= f.collection_select :monster_class_id, MonsterClass.order(:name), :id, :name %>
  </div>

  <div class="threecolumblock">
    <div class="threecol1">
      <% charSet = [creature.characteristic_monster("ST")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("DX")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("IQ")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("HT")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Dodge")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
    </div>
    <div class="threecol2">
      <% charSet = [creature.characteristic_monster("HP")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Will")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Per")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Fatigue")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Block")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
    </div>
    <div class="threecol3">
      <% charSet = [creature.characteristic_monster("Speed")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>

      <%= render 'expanding_fieldset', f: f,
	id: "movement-rates", collection: :movement_rates,
	partial: 'movement_rate_fields', label: 'add move', header: "Move",
	header_list: [ :move_type_id, :rate, :enhanced_rate ], freeform: nil %>

      <div class="threecolumblock">
        <div class="threecol1">
	  <% charSet = [creature.characteristic_monster("SM")]  %>
	  <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
	</div>
	<div class="threecol2">
	  <div class="field">
	    <%= f.label :height %>
	    <%= f.text_field :height, :size => 10 %>
	  </div>
	</div>
	<div class="threecol3">
	  <div class="field">
	    <%= f.label :weight %>
	    <%= f.text_field :weight, :size => 10 %>
	  </div>
	</div>
      </div>
        <%= render 'expanding_fieldset', f: f,
	  id: "/creatures/parry-scores", collection: :parry_scores,
	  partial: 'parry_score_fields', label: 'add Parry', header: "Parry",
	      header_list: [ :weapon, :parry ], freeform: nil  %>
    </div>
  </div>

  <%= render 'expanding_fieldset', f: f,
    id: "damage-resistances", collection: :damage_resistances,
    partial: '/creatures/damage_resistance_fields', label: 'add DR', header: "DR",
	header_list: [ :location, :dr, :notes ], freeform: nil  %>

  <%= render 'expanding_fieldset', f: f,
    id: "attacks", collection: :attacks,
    partial: 'attack_fields', label: 'add attack', header: "Attacks",
	header_list: [ :name, :skill, :description ], freeform: nil  %>

  <%= render 'expanding_fieldset', f: f,
    id: "traits", collection: :traits,
    partial: '/creatures/trait_fields', label: 'add trait', header: "Traits",
	header_list: [ :master_trait_id, :level ],
	freeform: :freeform_trait_list %>

  <%= render 'expanding_fieldset', f: f,
    id: "skills", collection: :skills,
    partial: '/creatures/skill_fields', label: 'add skill', header: "Skills",
	header_list: [ :master_skill_id, :specialization, :tech_level, :actual, :modifier, :notes ],
	freeform: :freeform_skill_list  %>

  <div class="field">
    <%= f.label :gear %>
    <%= f.text_area :gear %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <%= render 'expanding_fieldset', f: f,
    id: "page-references", collection: :page_references,
    partial: 'page_reference_fields', label: 'add page reference', header: "Sources",
	header_list: [ :book_id, :pages ], freeform: nil  %>

  <%= render 'expanding_fieldset', f: f,
    id: "illustrations", collection: :illustrations,
    partial: 'illustration_fields', label: 'add illustration', header: "Illustrations",
	header_list: [ :image, :notes ], freeform: nil  %>

  <div class="field">
    <%= f.label :parts_value %>
    <%= f.text_field :parts_value %> per pound
  </div>

  <% charSet = [creature.characteristic_monster("OR")]  %>
  <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
  <% charSet = [creature.characteristic_monster("PR")]  %>
  <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>

  <div class="actions" style="clear: both;">
    <%= f.submit %>
  </div>
<% end %>
