<%= form_for creature, :html => { :multipart => true } do |f| %>
  <% if creature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creature.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% creature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "monsters/form_name_and_class", f: f %>

  <div class="threecolumblock">
    <div class="threecol1">
      <% charSet = [creature.characteristic_monster("ST")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("DX")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("IQ")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("HT")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Dodge")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
    </div>
    <div class="threecol2">
      <% charSet = [creature.characteristic_monster("HP")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Will")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Per")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Fatigue")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [creature.characteristic_monster("Block")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
    </div>
    <div class="threecol3">
      <% charSet = [creature.characteristic_monster("Speed")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>

      <%= render 'expanding_fieldset', f: f,
	id: "movement-rates", collection: :movement_rates,
	partial: 'movement_rate_fields', label: 'add move', header: "Move",
	header_list: [ :move_type_id, :rate, :enhanced_rate ], freeform: nil %>

      <div class="threecolumblock">
        <div class="threecol1">
	  <% charSet = [creature.characteristic_monster("SM")]  %>
	  <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
	</div>
	<div class="threecol2">
	  <div class="field">
	    <%= f.label :height %>
	    <%= f.text_field :height, :size => 10 %>
	  </div>
	</div>
	<div class="threecol3">
	  <div class="field">
	    <%= f.label :weight %>
	    <%= f.text_field :weight, :size => 10 %>
	  </div>
	</div>
      </div>
        <%= render 'expanding_fieldset', f: f,
	  id: "parry-scores", collection: :parry_scores,
	  partial: '/creatures/parry_score_fields', label: 'add Parry', header: "Parry",
	      header_list: [ :weapon, :parry ], freeform: nil  %>
    </div>
  </div>

  <%= render 'expanding_fieldset', f: f,
    id: "damage-resistances", collection: :damage_resistances,
    partial: '/creatures/damage_resistance_fields', label: 'add DR', header: "DR",
	header_list: [ :location, :dr, :notes ], freeform: nil  %>

  <%= render 'monsters/form_attacks', f: f %>

  <%= render 'expanding_fieldset', f: f,
    id: "traits", collection: :traits,
    partial: '/creatures/trait_fields', label: 'add trait', header: "Traits",
	header_list: [ :master_trait_id, :notes, :level ],
	freeform: :freeform_trait_list %>

  <%= render 'expanding_fieldset', f: f,
    id: "skills", collection: :skills,
    partial: '/creatures/skill_fields', label: 'add skill', header: "Skills",
	header_list: [ :master_skill_id, :specialization, :tech_level, :modifier, :notes ],
	freeform: :freeform_skill_list  %>

  <div class="field">
    <%= f.label :gear %>
    <%= f.text_area :gear %>
  </div>

  <%= render 'expanding_fieldset', f: f,
    id: "equipment_packages", collection: :equipment_packages,
    partial: '/creatures/equipment_package_fields', label: 'add equipment package', header: "Equipment<br>Packages",
    header_list: [ :name, :notes, :equipment_pieces ],
    freeform: nil %>

  <%= render 'monsters/form_monster_descriptive_details', f: f -%>

  <div class="field">
    <%= f.label :parts_value %>
    <%= currency_symbol %><%= f.text_field :parts_value %> per pound
  </div>

  <% charSet = [creature.characteristic_monster("OR")]  %>
  <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
  <% charSet = [creature.characteristic_monster("PR")]  %>
  <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>

  <%= render 'form_campaign_chooser', f: f, campaigns: campaigns, monster: creature %>

  <div class="actions" style="clear: both;">
    <%= f.submit %>
  </div>
<% end %>
