<li class="control-group nested-fields">
  <div class="controls">
    <%= f.collection_select :master_skill_id, MasterSkill.order_by_name, :id, :to_s %>
  </div>
  <div class="controls">
    <%= f.text_field :specialization %>
  </div>
  <div class="controls">
    <% options = [["-", nil]] %>
    <% (0..6).each do |tl| %>
      <% options << ["TL #{tl}", "#{tl}"] %>
    <% end %>
    <%= f.select(:tech_level, options) %>
  </div>
  <div class="controls">
    <%= f.number_field :actual %> ... or...
  </div>
  <div class="controls">
    <%= f.number_field :modifier %>
  </div>
  <div class="controls">
    <%= f.text_area :notes %>
  </div>
  <div class="controls">
    <%= link_to_remove_association "remove", f %>
  </div>
</li>
