<%= render 'show_monster_sidebar_right', m: creature %>

<h1>
  <%= creature.name %>
</h1>

<div>
  <%= render 'monster_prestatblock_header', m: creature %>

  <%= render 'show_stat_block', monster: creature %>

  <div style="display: table;">
    <%= render 'attack_show', m: creature %>

    <% if creature.traits.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Traits</div>
        <div class="trait">
          <%= render "show_inline_trait_list", list: creature.traits %>
	</div>
      </div>
    <% end %>

    <% if (all = creature.skills.count) > 0 %>
      <div style="display: table-row;">
        <div class="field-label show trait">Skills</div>
        <div class="trait">
          <% creature.skills.order_by_master_skill.each_with_index do |skill, i| %>
            <%= render "show_skill", skill: skill %><%= (i < (all-1) ? "; " : "") -%>
          <% end %>
	</div>
      </div>
    <% end %>

    <% if creature.equipment_packages.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Equipment<br>Packages</div>
        <div class="trait">
          <% creature.equipment_packages.each do |equipment_package| %>
            <span class="equipment-package-name"><%= equipment_package.name %></span>
            <% if equipment_package.notes? %>
              <%= simple_format "(#{equipment_package.notes})", {:class => "longtext equipment-package-notes"}, wrapper_tag: "span" %>
            <% end %>
            <ul style="list-style-type: circle">
            <% equipment_package.equipment_pieces.each do |equipment_piece| %>
              <li><%= link_to pretty_print_equipment_piece(equipment_piece), equipment_piece, :class => "quiet" %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render 'notes_and_sources_show', m: creature %>
    <%= render 'show_sources', m: creature %>

    <% unless creature.parts_value.blank? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Parts Value</div>
        <div class="trait">
	  <%= money_without_cents_and_with_symbol creature.parts_value %>/lb.
	</div>
      </div>
    <% end %>

    <%= render 'combat_ratings_show', m: creature %>

  </div>
</div>

<br>

<%= link_to 'Edit', edit_polymorphic_path(creature) %> |
<%= link_to 'Create variant', variant_creature_path(creature) %> |
<%= link_to 'Index', monsters_path %>