<p id="notice"><%= notice %></p>
<% if @creature.illustrations.any? %>
  <div class="illo">
    <% @creature.illustrations.each do |illustration| %>
      <%= image_tag illustration.image.url(:medium) %>
      <%= illustration.notes.to_s %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= @creature.name %>
</h1>

<div>
  <% if @creature.monster_names.count > 0 %>
    <div>
      <span class="field-label show">Aliases</span>
      <%= @creature.names_to_s %>
    </div>
  <% end %>

  <% unless @creature.monster_class_name.empty? %>
    <div>
      <span class="field-label show">Class</span>
      <%= @creature.monster_class_name %>
    </div>
  <% end %>

  <% unless @creature.description.blank? %>
    <div>
      <span class="field-label show">Description</span>
      <%=simple_format @creature.description %>
    </div>
  <% end %>

  <%= render 'show_stat_block', monster: @creature %>

  <div style="display: table;">
    <div style="display: table-row;">
      <div class="field-label show trait">Attacks</div>
	<% if not @creature.attacks.any? %>
	  <div class="trait">None</div>
	<% else %>
	  <div class="trait">
	    <ul class="vertical-list">
	      <% @creature.attacks.each do |attack| %>
		<li class="attack-line">
		  <span class="attack-label">
		    <%= attack.name %>
		    <% if attack.skill? %>
		      (<%= attack.skill %>)
		    <% end %>
		  </span>
		  <span class="attack-description"><%= attack.description %></span>
		</li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
    </div>

    <% if @creature.traits.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Traits</div>
        <div class="trait">
	  <%= @creature.traits.collect { |x| x.to_s }.sort().join('; ') %>
	</div>
      </div>
    <% end %>

    <% if @creature.skills.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Skills</div>
        <div class="trait">
	  <%= @creature.skills.collect { |x| x.to_s }.sort().join('; ') %>
	</div>
      </div>
    <% end %>

    <% if @creature.gear? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Gear</div>
        <div class="trait">
	  <%= @creature.gear %>
	</div>
      </div>
    <% end %>

    <% unless @creature.notes.blank? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Notes</div>
        <div class="trait">
	  <%= @creature.notes %>
	</div>
      </div>
    <% end %>

    <% if @creature.page_references.any? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Sources</div>
        <div class="trait">
	  <% @creature.page_references.each do |pg| %>
	    <%= pg.to_s %> <br>
	  <% end %>
	</div>
      </div>
    <% end %>

    <% unless @creature.parts_value.blank? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Parts Value</div>
        <div class="trait">
	  <%= money_without_cents_and_with_symbol @creature.parts_value %>/lb.
	</div>
      </div>
    <% end %>

    <% unless (@creature.characteristic_score "OR").blank? && (@creature.characteristic_score "PR").blank? %>
      <div style="display: table-row;">
        <div class="field-label show trait">Threat Ratings</div>
        <div class="trait">
	  <div>Offensive Rating: <%= @creature.characteristic_score "OR" %></div>
	  <div>Protective Rating: <%= @creature.characteristic_score "PR" %></div>
	  <div>Combat Effectiveness Rating: <%= @creature.combat_effectiveness_rating %></div>
	</div>
      </div>
    <% end %>

  </div>
</div>

<br>

<%= link_to 'Edit', edit_polymorphic_path(@creature) %> |
<%= link_to 'Index', monsters_path %>