<p id="notice"><%= notice %></p>

<h1>Listing Equipment Packages</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "equipment_packages.name", EquipmentPackage, filter_params, "Name" %></th>
      <th>Creature</th>
      <th>Equipment Pieces</th>
      <th>Distinct Equipment Types</th>
      <th style="width: 100px;"><%= sortable "equipment_packages.total_cost_cents", EquipmentPackage, filter_params, "Total Cost" %></th>
      <th style="width: 100px;"><%= sortable "equipment_packages.total_weight", EquipmentPackage, filter_params, "Total Weight (lbs.)" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% equipment_packages.each do |equipment_package| %>
      <tr>
        <% name = equipment_package.name? ? equipment_package.name : "(no name)" %>
        <td><%= link_to name, equipment_package, :class => "quiet" + (equipment_package.name? ? "" : " equipment-package-name") %></td>
        <td>
          <% if equipment_package.monster.present? %>
            <%= react_component 'QuietLink', { txt: equipment_package.monster.name, url: url_for(equipment_package.monster), popupText: equipment_package.monster.name }, {tag: "span"} %>
          <% else %>
            <span>-</span>
          <% end %>
        </td>
        <td class="count"><%= equipment_package.equipment_pieces.sum(:quantity) %></td>
        <td class="count"><%= equipment_package.equipment_pieces.count(:equipment_type_id) %></td>
        <td class="count"><%= currency_symbol %><%= equipment_package.total_cost %></td>
        <td class="count"><%= equipment_package.total_weight %></td>
        <%= edit_destroy_links equipment_package %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment package', new_equipment_package_path %>
