<h1>Home</h1>

<% if Monster.count > 0 %>
  <div class="dashboard">
    <div class="dashboard-col">
      <div class="dashboard-item">
	<h2>Count of monsters by class</h2>
	<%= pie_chart charts_monsters_by_class_path %>
      </div>
      <div class="dashboard-item">
	<h2>Top 5 ST Scores</h2>
	<table style="width:95%;">
	  <tr><th>Monster</th><th>Score</th></tr>
	  <% Monster.joins("inner join characteristic_monsters on monsters.id = characteristic_monsters.monster_id inner join characteristics on characteristic_monsters.characteristic_id = characteristics.id").where("characteristics.name = 'ST'").order("characteristic_monsters.score desc").limit(5).each do |m| %>
	    <tr>
	      <td><%= link_to m.name, m %></td>
	      <td style="text-align: center;"><%= m.characteristic_score("ST") %></td>
	    </tr>
	  <% end %>
	</table>
      </div>
    </div>
    <div class="dashboard-col">
      <div class="dashboard-item">
	<h2>Monsters by date of creation</h2>
	<%= line_chart charts_monsters_by_creation_date_path %>
      </div>
    </div>
  </div>
<% else %>
  Welcome to your new GURPS monsters database! The first step is to enter
  your monsters. <%= link_to 'Start here!', new_monster_path %>
<% end %>