<h1>Home</h1>

<% if Monster.count > 0 %>
  <div class="dashboard">
    <div class="dashboard-col">
      <div class="dashboard-item">
	<h2>Count of monsters by class</h2>
	<%= pie_chart charts_monsters_by_class_path %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "ST" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "IQ" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "HP" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "Per" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "Speed" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "OR" %>
      </div>
    </div>
    <div class="dashboard-col">
      <div class="dashboard-item">
	<h2>Monsters by date of creation</h2>
	<%= line_chart charts_monsters_by_creation_date_path %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "DX" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "HT" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "Will" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "Fatigue" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "SM" %>
      </div>
      <div class="dashboard-item">
	<%= render "top_N_characteristics", n: 5, characteristic: "PR" %>
      </div>
    </div>
  </div>
<% else %>
  Welcome to your new GURPS monsters database! The first step is to enter
  your monsters. <%= link_to 'Start here!', new_creature_path %>
<% end %>