<h1>Listing Books</h1>
<h2>
  <%= render "display_filter_params", filter_params: filter_params, campaign_name: campaign_name -%>
</h2>

<%= page_entries_info books %>

<table class="fixed-table" style="width: 75%;">
  <thead>
    <tr>
      <th><%= sortable "books.name", Book, params, "Name" %></th>
      <th style="width: 20%;"><%= sortable "books.abbreviation", Book, params, "Abbreviation" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% books.each_with_index do |book, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to book.name, book %></td>
        <td style="text-align: center;"><%= book.abbreviation %></td>
        <%= render 'index_edit_destroy_links', target: book %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate books %>
<%= link_to 'New Book', new_book_path %>
