<h1>Listing Books</h1>
<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>

<%= page_entries_info books %>

<table class="fixed-table" style="width: 75%;">
  <thead>
    <tr>
      <th><%= sortable "books.name", Book, params, "Name" %></th>
      <th style="width: 20%;"><%= sortable "books.abbreviation", Book, params, "Abbreviation" %></th>
      <th style="width: 12%;"># References</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% books.each_with_index do |book, index| %>
      <% reference_count_hash = book.page_references.group(:referenceable_type).count %>
      <% reference_count_tooltip = reference_count_hash.to_a.reduce("") { |memo, (k,v)| memo += (memo.to_s.empty? ? "" : ", ") + "#{v} #{k.pluralize(v).titleize.downcase}" } %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to book.name, book, :class => "quiet" %></td>
        <td style="text-align: center;"><%= book.abbreviation %></td>
        <td class="count"><%= content_tag :span, book.page_references.count, :title => reference_count_tooltip %></td>
        <%= render 'index_edit_destroy_links', target: book %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate books %>
<%= link_to 'New Book', new_book_path %>
