<p>
  <strong>Name:</strong>
  <%= book.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= book.abbreviation %>
</p>

<div class="field">
  <span class="field-label show">References</span>
  <div class="fixed-table boxed-list" style="width: 88%; float: right; padding-left: 2px;">
    <% ref_hash = book.page_references_by_type %>
    <% ref_hash.keys.sort.each do |ref_type| %>
      <dl>
        <dt><strong><%= ref_type.pluralize.titleize %></strong></dt>
        <dd>
          <%= render "boxed_list", list: ref_hash[ref_type].map{ |pr| pr.referenceable }.sort_by{ |r| r.name } %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>
<div style="clear: both;" />

<%= link_to 'Edit', edit_book_path(book) %> |
<%= link_to 'Index', books_path %>
