<h1>Master Skills</h1>
<h2>
  <%= render "display_filter_params", filter_params: filter_params, campaign_name: campaign_name -%>
</h2>

<%= page_entries_info master_skills %>

<table class="fixed-table" style="width: 75%;">
  <thead>
    <tr>
      <th><%= sortable "master_skills.name", MasterSkill, params, "Name" %></th>
      <th style="width: 85px;">Specialized?</th>
      <th style="width: 45px;">TL?</th>
      <th style="width: 65px;"><%= sortable "characteristics.name", MasterSkill, params, "Base Stat" %></th>
      <th>Notes</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% master_skills.each_with_index do |master_skill, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to master_skill.name, master_skill %></td>
        <td style="text-align: center;"><%= master_skill.requires_specialization ? "Y" : "" %></td>
        <td style="text-align: center;"><%= master_skill.requires_tech_level ? "Y" : "" %></td>
        <td style="text-align: center;"><%= master_skill.characteristic.to_s %></td>
        <td><span title="<%= master_skill.notes %>"><%= master_skill.notes %></span></td>
        <%= render 'index_edit_destroy_links', target: master_skill %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate master_skills %>
<%= link_to 'New Master skill', new_master_skill_path %>
