<p id="notice"><%= notice %></p>

<h1>Master Skills</h1>

<%= page_entries_info master_skills %>

<table>
  <thead>
    <tr>
      <th><%= sortable "master_skills.name", MasterSkill, params, "Name" %></th>
      <th>Requires specialization</th>
      <th>Requires TL</th>
      <th><%= sortable "characteristics.name", MasterSkill, params, "Base Stat" %></th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% master_skills.each do |master_skill| %>
      <tr>
        <td><%= link_to master_skill.name, master_skill %></td>
        <td><%= master_skill.requires_specialization %></td>
        <td><%= master_skill.requires_tech_level %></td>
        <td><%= master_skill.characteristic.to_s %></td>
        <td><%= master_skill.notes %></td>
        <td><%= link_to 'Edit', edit_master_skill_path(master_skill) %></td>
        <td><%= link_to 'Destroy', master_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate master_skills %>
<%= link_to 'New Master skill', new_master_skill_path %>
