<p>
  <strong>Name:</strong>
  <%= master_skill.name %>
</p>

<p>
  <strong>Basestat:</strong>
  <%= master_skill.characteristic.to_s %>
</p>

<p>
  <strong>Notes:</strong>
  <%= master_skill.notes %>
</p>

<p>
  <strong>Requires specialization:</strong>
  <%= master_skill.requires_specialization %>
</p>

<p>
  <strong>Requires TL:</strong>
  <%= master_skill.requires_tech_level %>
</p>

<p>
  <%= render 'show_sources', m: master_skill %>
</p>


<% if master_skill.skills.any? %>
  <strong>Possessed by...</strong>
  <ul>
  <% master_skill.skills.order_by_monster_name.each do |skill| %>
    <li>
      <%= link_to skill.monster_name, skill.creature, :class => "quiet" %>: <%= skill.to_s %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_master_skill_path(master_skill) %> |
<%= link_to 'Index', master_skills_path %>
