<p id="notice"><%= notice %></p>

<h1>Listing Monster Classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_classes.each do |monster_class| %>
      <tr>
        <td><%= monster_class.name %></td>
        <td><%= link_to 'Show', monster_class %></td>
        <td><%= link_to 'Edit', edit_monster_class_path(monster_class) %></td>
        <td><%= link_to 'Destroy', monster_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster class', new_monster_class_path %>
