<h1>Listing Monster Classes</h1>

<%= page_entries_info monster_classes %>

<table class="fixed-table" style="width: 60%;">
  <thead>
    <tr>
      <th><%= sortable "monster_classes.name", MonsterClass, params, "Name" %></th>
      <th style="width: 180px;">Number of monsters</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% monster_classes.each_with_index do |monster_class, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to monster_class.name, monster_class %></td>
        <td class="count"><%= monster_class.monsters.count %></td>
        <%= render 'index_edit_destroy_links', target: monster_class %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate monster_classes %>
<%= link_to 'New Monster class', new_monster_class_path %>
