<p id="notice"><%= notice %></p>

<h1>Listing Equipment Modifiers</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params, equipment_modifier_category_name: equipment_modifier_category_name -%>
</h2>

<%= page_entries_info equipment_modifiers %>

<table>
  <thead>
    <tr>
      <th><%= sortable "equipment_modifiers.name", EquipmentModifier, params, "Name" %></th>
      <th><%= sortable "equipment_modifier_categories.name", EquipmentModifier, params, "Equipment Modifier Category" %></th>
      <th><%= sortable "equipment_modifiers.base_cost_mod", EquipmentModifier, params, "Base Cost mod" %></th>
      <th><%= sortable "equipment_modifiers.base_weight_mod", EquipmentModifier, params, "Base Weight mod" %></th>
      <th><%= sortable "equipment_modifiers.cost_mod", EquipmentModifier, params, "Cost mod" %></th>
      <th><%= sortable "equipment_modifiers.weight_mod", EquipmentModifier, params, "Weight mod" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% equipment_modifiers.each do |equipment_modifier| %>
      <tr>
        <td><%= link_to equipment_modifier.name, equipment_modifier, :class => "quiet" %></td>
        <td><%= link_to equipment_modifier.equipment_modifier_category, equipment_modifier.equipment_modifier_category, :class => "quiet" if equipment_modifier.equipment_modifier_category.present? %></td>
        <td class="count"><%= equipment_modifier.base_cost_mod %></td>
        <td class="count"><%= equipment_modifier.base_weight_mod %></td>
        <td class="count"><%= equipment_modifier.cost_mod %></td>
        <td class="count"><%= equipment_modifier.weight_mod %></td>
        <%= edit_destroy_links equipment_modifier %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= render "filter_by_category_field", category_list: equipment_modifier_categories, filter_params: filter_params, category_name: "Modifier Category", filter_param_key: :in_modifier_category, callback: :equipment_modifiers, klass: EquipmentModifier %>

<br>
<%= paginate equipment_modifiers %>
