<p id="notice"><%= notice %></p>

<div class="field">
  <strong>Name:</strong>
  <%= equipment_modifier.name %>
</div>

<div class="field">
  <strong>Equipment modifier category:</strong>
  <% prev = EquipmentModifier.where(:equipment_modifier_category => equipment_modifier.equipment_modifier_category).where("name < ?", equipment_modifier.name).order_by_name.last %>
  <% nxt = EquipmentModifier.where(:equipment_modifier_category => equipment_modifier.equipment_modifier_category).where("name > ?", equipment_modifier.name).order_by_name.first %>
  <%= render "link_with_next_and_previous_links", :target => equipment_modifier.equipment_modifier_category, :predecessor => prev, :successor => nxt %>
</div>

<div class="field">
  <strong>Base cost mod:</strong>
  <%= equipment_modifier.base_cost_mod %>
</div>

<div class="field">
  <strong>Base weight mod:</strong>
  <%= equipment_modifier.base_weight_mod %>
</div>

<div class="field">
  <strong>Cost mod:</strong>
  <%= equipment_modifier.cost_mod %>
</div>

<div class="field">
  <strong>Weight mod:</strong>
  <%= equipment_modifier.weight_mod %>
</div>

<div class="field">
  <strong>Random weight:</strong>
  <%= equipment_modifier.random_weight %>
</div>

<div class="field">
  <strong>Notes:</strong>
  <%= equipment_modifier.notes %>
</div>

<div class="field">
  <span class="field-label show">Mutually exclusive with:</span>
  <%= render "boxed_list", list: equipment_modifier.excluded_equipment_modifiers.order_by_name %>
</div>

<%= link_to 'Edit', edit_equipment_modifier_path(equipment_modifier) %> |
<%= link_to 'Index', equipment_modifiers_path %>
