<%= form_for(master_trait) do |f| %>
  <% if master_trait.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_trait.errors.count, "error") %> prohibited this master_trait from being saved:</h2>

      <ul>
      <% master_trait.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <%= render 'expanding_fieldset', f: f,
    id: "traits_in_meta_trait", collection: :traits_in_meta_trait,
    partial: '/master_traits/traits_in_meta_trait_fields', label: "add member", header: "Meta-Trait Members",
        header_list: [ :master_trait, :notes, :level ],
        freeform: nil %>

  <%= render 'expanding_fieldset', f: f,
    id: "traits", collection: :traits,
    partial: '/master_traits/trait_fields', label: nil, header: "Traits",
        header_list: [ :monster, :notes, :level ],
        freeform: nil %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
