<p>
  <strong>Name:</strong>
  <%= master_trait.name %>
</p>

<% if master_trait.notes? %>
  <p>
    <strong>Notes:</strong>
    <%= master_trait.notes %>
  </p>
<% end %>

<% if master_trait.traits_in_meta_trait.any? %>
  <strong>Meta-trait containing:</strong>
  <ul>
  <% master_trait.traits_in_meta_trait.order_by_master_trait.each do |trait| %>
    <li>
      <% if (trait.level.blank? && trait.notes.blank?) -%>
        <%= link_to trait.master_trait_name, trait.master_trait, :class => "quiet" %>
      <% else %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<p>
  <%= render 'show_sources', m: master_trait %>
</p>

<% if master_trait.traits.creature_possessed.any? %>
  <strong>Possessed by...</strong>
  <ul>
  <% master_trait.traits.creature_possessed.order_by_creature.each do |trait| %>
    <li>
      <%= link_to trait.creature.name, trait.creature, :class => "quiet" %><%= ": " unless (trait.level.blank? && trait.notes.blank?) -%>
      <% unless (trait.level.blank? && trait.notes.blank?) %>
        <%= render "show_base_trait", trait: trait -%>
      <% end %>
      <% unless trait.root? -%>
        (granted by <%= Trait.sort_by_ancestry(trait.ancestors).map{ |trait| link_to trait.master_trait_name, trait.master_trait, :class => "quiet" }.join(" > ").html_safe %>)
      <% end -%>
    </li>
  <% end %>
  </ul>
<% end %>

<% if master_trait.traits.meta_trait_owned.any? %>
  <strong>Included in...</strong>
  <ul>
  <% master_trait.traits.meta_trait_member.each do |trait| %>
    <li>
      <%= link_to trait.trait_owner.name, trait.trait_owner, :class => "quiet" %><%= ": " unless (trait.level.blank? && trait.notes.blank?) -%>
      <% unless (trait.level.blank? && trait.notes.blank?) %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
