<p>
  <strong>Name:</strong>
  <%= master_trait.name %>
</p>

<% if master_trait.notes.present? %>
  <p>
    <strong>Notes:</strong>
    <%= master_trait.notes %>
  </p>
<% end %>

<% if master_trait.traits_in_meta_trait.any? %>
  <strong>Meta-trait containing:</strong>
  <ul>
  <% master_trait.traits_in_meta_trait.includes(:master_trait).order("master_traits.name").each do |trait| %>
    <li>
      <% if (trait.level.blank? && trait.notes.blank?) -%>
        <%= link_to trait.master_trait_name, trait.master_trait, :class => "quiet" %>
      <% else %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if master_trait.traits.creature_owned.any? %>
  <strong>Possessed by...</strong>
  <ul>
  <% master_trait.traits.creature_owned.joins("inner join creatures on traits.trait_owner_id = creatures.id inner join monsters on creatures.id = monsters.actable_id and monsters.actable_type = 'Creature'").order("monsters.name").each do |trait| %>
    <li>
      <%= link_to trait.trait_owner.name, trait.trait_owner, :class => "quiet" %><%= ": " unless (trait.level.blank? && trait.notes.blank?) -%>
      <% unless (trait.level.blank? && trait.notes.blank?) %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if master_trait.traits.meta_trait_owned.any? %>
  <strong>Included in...</strong>
  <ul>
  <% master_trait.traits.meta_trait_owned.joins("inner join master_traits on traits.trait_owner_id = master_traits.id").order("master_traits.name").each do |trait| %>
    <li>
      <%= link_to trait.trait_owner.name, trait.trait_owner, :class => "quiet" %><%= ": " unless (trait.level.blank? && trait.notes.blank?) -%>
      <% unless (trait.level.blank? && trait.notes.blank?) %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
