<p>
  <strong>Name:</strong>
  <%= master_trait.name %>
</p>

<% if master_trait.notes.present? %>
  <p>
    <strong>Notes:</strong>
    <%= master_trait.notes %>
  </p>
<% end %>

<% if master_trait.traits_in_meta_trait.any? %>
  <strong>Meta-trait containing:</strong>
  <ul>
  <% master_trait.traits_in_meta_trait.includes(:master_trait).order("master_traits.name").each do |trait| %>
    <li>
      <% if (trait.level.blank? && trait.notes.blank?) -%>
        <%= link_to trait.master_trait_name, trait.master_trait, :class => "quiet" %>
      <% else %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if master_trait.traits.any? %>
  <strong>Possessed by...</strong>
  <ul>
  <% master_trait.traits.includes(:monster).order("monsters.name").each do |trait| %>
    <li>
      <%= link_to trait.monster_name, trait.creature, :class => "quiet" %><%= ": " unless (trait.level.blank? && trait.notes.blank?) -%>
      <% unless (trait.level.blank? && trait.notes.blank?) %>
        <%= render "show_trait", trait: trait -%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>