<h1>Merging Master Traits</h1>

<%= form_tag(controller: "master_traits", action: "merge_into", method: "post") do |f| %>
  <div style="display: table-row">
    <div style="display: table-cell; border: 1px solid black; padding: 3px; width: 40%">
      <div> Merge...</div>
      <%= hidden_field_tag :id, master_trait.id %>
      <%= render 'show', master_trait: master_trait %>
    </div>
    <div style="display: table-cell; border: 1px solid black; padding: 3px; width: 40%">
      into...
      <%= select_tag(:merge_into_trait_id, options_from_collection_for_select(selection_list, :id, :name) ) %>
    </div>
  </div>
  <div>
    <%= submit_tag "Merge" %>
  </div>
<% end -%>
