<%= form_for(equipment_piece) do |f| %>
  <% if equipment_piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_piece.errors.count, "error") %> prohibited this equipment_piece from being saved:</h2>

      <ul>
      <% equipment_piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'equipment_piece_fields_generic', f: f, has_headers: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
