<%= form_for(campaign) do |f| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= render 'many_to_many_checkbox_table', available_intersection_list: monsters,
    intersection_field: :content, target: campaign, base_id: f.object_name.to_s + "[campaign_contents_attributes]",
    member_name: :campaign_contents, intersected_table: Monster, title: "Monsters",
    foreign_key_type_name: :content_type, table_class: "fixed-table" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
