<h1>Listing Campaigns</h1>

<table style="width: 80%;">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 15%;">Number of<br />Monsters</th>
      <th style="width: 20%;">Number of<br />Equipment Types</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% campaigns.each_with_index do |campaign, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to campaign.name, campaign, :class => "quiet" %></td>
        <td class="count"><%= campaign.monsters.count %></td>
        <td class="count"><%= campaign.equipment_types.count %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate campaigns %>
