<p id="notice"><%= notice %></p>

<h1>Listing Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Monsters</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign, :class => "quiet" %></td>
        <td class="count"><%= campaign.monsters.count %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate campaigns %>
