<div class="field">
  <span class="field-label" style="font-weight: bold;">Name</span>
  <span><%= campaign.name %></span>
</div>

<div class="field">
  <span class="field-label show">Monsters</span>
  <%= render "boxed_list", list: campaign.monsters %>
</div>

<div class="field">
  <span class="field-label show">Equipment</span>
  <%= render "boxed_list", list: campaign.equipment_types %>
</div>

<%= link_to 'Edit', edit_campaign_path(campaign) %> |
<%= link_to 'Index', campaigns_path %>
