<%= form_for(equipment_type) do |f| %>
  <% if equipment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_type.errors.count, "error") %> prohibited this equipment_type from being saved:</h2>

      <ul>
      <% equipment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit_of_measurement %><br>
    <%= f.text_field :unit_of_measurement %>
  </div>
  <div class="field">
    <%= f.label :base_weight %><br>
    <%= f.text_field :base_weight %>
  </div>
  <div class="field">
    <%= f.label :base_cost %><br>
    <%= currency_symbol %><%= f.text_field :base_cost %>
  </div>
  <div class="field">
    <%= f.label :equipment_category_id %><br>
    <%= f.autocomplete_field :equipment_category_name, autocomplete_equipment_category_name_equipment_types_path %>
  </div>

  <%= render 'many_to_many_checkbox_table', f: f, available_intersection_list: equipment_modifier_categories,
    intersection_table: equipment_type.equipment_type_modifier_categories, intersection_field: :equipment_modifier_category,
    member_name: :equipment_type_modifier_categories, intersected_table: EquipmentModifierCategory,
    foreign_key_name: :equipment_modifier_category_id,
    number_of_columns: 5 %>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <%= render 'form_page_reference_entry', f: f %>

  <%= render 'form_campaign_chooser', f: f, campaigns: campaigns %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
