<h1>Listing Equipment Types</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params, campaign_name: campaign_name, equipment_category_name: equipment_category_name -%>
</h2>

<%= page_entries_info equipment_types %>

<table class="fixed-table"  style="width: 98%;">
  <thead>
    <tr>
      <th style="width: 20%;"><%= sortable "equipment_types.name", EquipmentType, params, "Name" %></th>
      <th style="width: 10%;"><%= sortable "equipment_types.unit_of_measurement", EquipmentType, params, "Unit of<br>Measurement".html_safe %></th>
      <th style="width: 10%;"><%= sortable "equipment_types.base_weight", EquipmentType, params, "Base Weight" %></th>
      <th style="width: 10%;"><%= sortable "equipment_types.base_cost_cents", EquipmentType, params, "Base Cost" %></th>
      <th style="width: 20%;"><%= sortable "equipment_categories.name", EquipmentType, params, "Equipment Category" %></th>
      <th>Notes</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% equipment_types.each_with_index do |equipment_type, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to equipment_type.name, equipment_type, :class => "quiet", :title => equipment_type.name %></td>
        <td><%= equipment_type.unit_of_measurement %></td>
        <td class="count"><%= equipment_type.base_weight %></td>
        <td class="cash"><%= currency_symbol %><%= equipment_type.base_cost %></td>
        <td><%= link_to equipment_type.equipment_category, equipment_type.equipment_category, :class => "quiet" unless equipment_type.equipment_category.blank? %></td>
        <td><%= equipment_type.notes %></td>
        <%= render 'index_edit_destroy_links', target: equipment_type %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<div class="field">
  <span class="filter-label">Filter by campaign</span>
  <table class="fixed-table boxed-list">
    <% campaigns.each_with_index do |campaign, index| %>
      <%= render :layout => 'layouts/fixed_table_columns',
          :locals => { :index => index, :number_of_columns => 5, :total_count => campaigns.count } do %>
        <% if filter_params[:in_campaign].to_s == campaign.id.to_s %>
          <%= "#{campaign.name}" %>
        <% else %>
          <%= link_to "#{campaign.name}",
            equipment_types_path(filter_params.merge(:in_campaign => "#{campaign.id}")),
            :title => campaign.name + " (" + pluralize(campaign.equipment_types.count, "equipment type") + ")" %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>

<div class="field">
  <span class="filter-label">Filter by category</span>
  <table class="fixed-table boxed-list">
    <% equipment_categories.each_with_index do |category, index| %>
      <%= render :layout => 'layouts/fixed_table_columns',
          :locals => { :index => index, :number_of_columns => 5, :total_count => equipment_categories.count } do %>
        <% if filter_params[:in_equipment_category].to_s == category.id.to_s %>
          <%= "#{category.name}" %>
        <% else %>
          <%= link_to "#{category.name}",
            equipment_types_path(filter_params.merge(:in_equipment_category => "#{category.id}")),
            :title => category.name + " (" + pluralize(category.equipment_types.count, "equipment type") + ")" %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>

<%= paginate equipment_types %>

<%= link_to 'New Equipment type', new_equipment_type_path %>
