<h1>Listing Equipment Types</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params, equipment_category_name: equipment_category_name -%>
</h2>

<%= page_entries_info equipment_types %>

<table class="fixed-table"  style="width: 98%;">
  <thead>
    <tr>
      <th style="width: 20%;"><%= sortable "equipment_types.name", EquipmentType, filter_params, "Name" %></th>
      <th style="width: 10%;"><%= sortable "equipment_types.unit_of_measurement", EquipmentType, filter_params, "Unit of<br>Measurement".html_safe %></th>
      <th style="width: 10%;"><%= sortable "equipment_types.base_weight", EquipmentType, filter_params, "Base Weight" %></th>
      <th style="width: 10%;"><%= sortable "equipment_types.base_cost_cents", EquipmentType, filter_params, "Base Cost" %></th>
      <th style="width: 20%;"><%= sortable "equipment_categories.name", EquipmentType, filter_params, "Equipment Category" %></th>
      <th>Notes</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% equipment_types.each_with_index do |equipment_type, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to equipment_type.name, equipment_type, :class => "quiet", :title => equipment_type.name %></td>
        <td><%= equipment_type.unit_of_measurement %></td>
        <td class="count"><%= equipment_type.base_weight %></td>
        <td class="cash"><%= currency_symbol %><%= equipment_type.base_cost %></td>
        <td><%= link_to equipment_type.equipment_category, equipment_type.equipment_category, :class => "quiet" unless equipment_type.equipment_category.blank? %></td>
        <td><%= equipment_type.notes %></td>
        <%= edit_destroy_links equipment_type %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= render "filter_by_category_field", category_list: equipment_categories, filter_params: filter_params, category_name: "Category", filter_param_key: :in_equipment_category, callback: :equipment_types, klass: EquipmentType %>

<%= paginate equipment_types %>

<%= link_to 'New Equipment type', new_equipment_type_path %>
