<p>
  <strong>Name:</strong>
  <%= equipment_type.name %>
</p>

<p>
  <strong>Unit of measurement:</strong>
  <% if equipment_type.unit_of_measurement? %>
    <%= equipment_type.unit_of_measurement %>
  <% else %>
    -
  <% end %>
</p>

<p>
  <strong>Base weight:</strong>
  <%= equipment_type.base_weight %> lbs.
</p>

<p>
  <strong>Base cost:</strong>
  <%= humanized_money_with_symbol equipment_type.base_cost %>
</p>

<p>
  <strong>Equipment category:</strong>
  <% prev_in_cat = EquipmentType.where(:equipment_category => equipment_type.equipment_category).where("name < ?", equipment_type.name).order_by_name.last %>
  <% next_in_cat = EquipmentType.where(:equipment_category => equipment_type.equipment_category).where("name > ?", equipment_type.name).order_by_name.first %>
  <%= render "link_with_next_and_previous_links", :target => equipment_type.equipment_category, :predecessor => prev_in_cat, :successor => next_in_cat %>
</p>

<div class="field">
  <span class="field-label show">Modifier Categories</span>
  <%= render "boxed_list", list: equipment_type.equipment_modifier_categories %>
</div>

<% if equipment_type.notes? %>
  <p>
    <strong>Notes:</strong>
    <%= equipment_type.notes %>
  </p>
<% end %>

<p>
  <%= render 'show_sources', m: equipment_type %>
</p>

<% owner_list = EquipmentPiece.where(:equipment_type => equipment_type ).select("distinct owner_type, owner_id") %>
<% if owner_list.count > 0 %>
  <p>
    <strong>Examples Owned By:</strong>
    <ul>
      <% owner_list.map{ |equipment_piece| equipment_piece.final_owner }.reject { |x| x.nil? }.uniq.each do |final_owner| %>
        <li><%= link_to final_owner, final_owner %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<p>
  <strong>Campaigns:</strong>
  <ul>
    <% equipment_type.campaign_contents.each do |campaign_content| %>
      <li><%= link_to campaign_content.campaign_name, campaign_content.campaign %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_equipment_type_path(equipment_type) %> |
<%= link_to 'Index', equipment_types_path %>
