<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= rpm_path.name %>
</p>

<% if rpm_path.notes.present? %>
<p>
  <strong>Notes:</strong>
  <%= rpm_path.notes %>
</p>
<% end %>

<% if rpm_path.rpm_spell_effects.any? %>
  <p>
    <strong>Rituals:</strong>
    <ul>
  <% rpm_path.rpm_rituals.order_by_name.uniq.each do |ritual| %>
    <% popup = ritual.rpm_spell_effects.sorted.collect(&:to_short_s).uniq.join(", ") %>
    <li><%= link_to ritual.name, ritual, :class => "quiet", :title => popup %> <span style="font-style: italic; padding-left: 15px;">(inherent <%= ritual.inherent_cost %>/typical <%= ritual.typical_cost %>)</span></li>
  <% end -%>
    </ul>
<% end %>

<%= render 'show_sources', m: rpm_path %>

<%= link_to 'Edit', edit_rpm_path_path(rpm_path) %> |
<%= link_to 'Index', rpm_paths_path %>
