<%= form_for(rpm_effect) do |f| %>
  <% if rpm_effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rpm_effect.errors.count, "error") %> prohibited this rpm_effect from being saved:</h2>

      <ul>
      <% rpm_effect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <%= render 'form_page_reference_entry', f: f %>

  <%= f.hidden_field :campaign_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
