<p id="notice"><%= notice %></p>

<h1>Listing Rpm Effects</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "rpm_effects.name", RpmEffect, params, "Name" %></th>
      <th>Cost</th>
      <th>Notes</th>
      <th>Campaign</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% rpm_effects.each do |rpm_effect| %>
      <tr>
        <td><%= rpm_effect.name %></td>
        <td><%= rpm_effect.cost %></td>
        <td><%= rpm_effect.notes %></td>
        <td><%= rpm_effect.campaign %></td>
        <%= render 'index_edit_destroy_links', target: rpm_effect %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rpm effect', new_rpm_effect_path %>
