<p id="notice"><%= notice %></p>

<h1>Listing Rpm Effects</h1>

<h2>
  <%= render "display_filter_params", filter_params: filter_params -%>
</h2>

<%= page_entries_info rpm_effects %>

<table>
  <thead>
    <tr>
      <th><%= sortable "rpm_effects.name", RpmEffect, filter_params, "Name" %></th>
      <th>Cost</th>
      <th>Notes</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% rpm_effects.each do |rpm_effect| %>
      <tr>
        <td><%= link_to rpm_effect.name, rpm_effect_path(rpm_effect), { :class => "quiet" } %></td>
        <td><%= rpm_effect.cost %></td>
        <td><%= rpm_effect.notes %></td>
        <%= edit_destroy_links rpm_effect %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "filter_by_starting_letter", letters: starts_with_tags, filter_params: filter_params %>

<%= paginate rpm_effects %>

<%= link_to 'New Rpm effect', new_rpm_effect_path %>
