<% append_node_id = "random_eq_profiles" + (Time.now.to_f * 1000).to_i.to_s %>
<div class="field">
  <span class="field-label">Random Equipment Profiles</span>
  <fieldset id="random_eq_profiles" class="expanding-fieldset-container">
    <ul id="<%= append_node_id %>" class="nested-fields" style="display: <%= (parent.random_eq_profiles.any? ? "table-row" : "none" ) %>;">
      <li class="control-group nested-fields nested-header">
        <% equipment_modifier_supercategories.each do |header_item| %>
            <span class="controls"><%= f.label header_item %></span>
        <% end %>
      </li>
      <%= f.fields_for :random_eq_profiles do |x| %>
        <%= render 'random_eq_profile_fields', f: x, equipment_modifier_supercategories: equipment_modifier_supercategories %>
      <% end %>
    </ul>
    <%= link_to_add_association 'add random equipment profile', f, :random_eq_profiles,
      'data-association-insertion-method' => "append",
      'data-association-insertion-node' => "#" + append_node_id, 
      render_options: {locals: {equipment_modifier_supercategories: equipment_modifier_supercategories}}
    %>
  </fieldset>
</div>