<% start_expanded ||= false %>
<%#----------------%>
<div class="field">
  <span class="filter-label">Filter by <%= category_name %></span>
  <% toggle_id = "filterBy" + category_name.gsub(/ /, "_") + (Time.now.to_f * 1000).to_i.to_s %>
  <% row_options = { "data-toggle_id" => toggle_id, "style" => (start_expanded ? "" : "display: none") } %>
  <span style="float: left"><%= toggle_links toggle_id, (start_expanded ? "-" : "+"), (start_expanded ? "-" : "+") %></span>
  <table class="fixed-table boxed-list">
    <tr data-toggle_id="<%= toggle_id %>" style="<%= (start_expanded ? "display: none" : "") %>">
      <td><span class="footnote">(<%= pluralize category_list.to_a.count, category_name %>)</span></td>
    </tr>
    <% category_list.order_by_name.each_with_index do |category, index| %>
      <%= render :layout => 'layouts/fixed_table_columns',
          :locals => { :index => index, :number_of_columns => 5, :total_count => category_list.count, :row_options => row_options } do %>
        <% if filter_params[filter_param_key].to_s == category.id.to_s %>
          <%= "#{category.name}" %>
        <% else %>
          <%= link_to "#{category.name}",
            polymorphic_path(klass, filter_params.merge(filter_param_key => "#{category.id}")),
            :title => category.name + " (" + pluralize(category.try(callback).try(:count), category_name) + ")" %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>