<% number_of_columns ||= 3 %>
<% title ||= intersected_table.to_s.pluralize.titleize %>
<% foreign_key_type_name ||= nil %>
<div class="field">
  <span class="field-label"><%= title %></span>
  <fieldset id="<%= member_name %>" class="expanding-fieldset-container">
    <table class="fixed-table">
      <%= f.fields_for member_name, available_intersection_list do |x| %>
        <% intersected = x.object %>
        <%= render :layout => 'layouts/fixed_table_columns', :locals => { :index => x.index, :number_of_columns => number_of_columns, :total_count => available_intersection_list.count } do %>
          <% intersection_row = intersection_table.find{ |rw| (rw.try(intersection_field) == intersected) } %>
          <%= x.hidden_field :id, :value => intersection_row.try(:id) %>
          <%= x.hidden_field foreign_key_name, :value => intersected.id %>
          <% if foreign_key_type_name.present? %>
            <%= x.hidden_field foreign_key_type_name, :value => intersected_table.to_s %>
          <% end %>
          <%= x.check_box "_destroy", { checked: intersection_row.present? }, "false", "true" %>
          <span title="<%= intersected.name %>"><%= intersected.name %></span>
        <% end %>
      <% end %>
    </table>
  </fieldset>
</div>

