<% other_hidden_fields ||= {} %>
<% on_click ||= nil %>
<%# ------------- %>
<% check_box_options = { :onclick => on_click } %>
<%# ------------- %>
<span name="<%= base_id %>" class="many_to_many_cell">
  <%= hidden_field_tag "#{base_id}[id]", intersection_row.try(:id) %>
  <%= hidden_field_tag "#{base_id}[#{foreign_key_name}]", intersected[:id] %>
  <% other_hidden_fields.each do |(key, val)| %>
    <% val ||= intersected.try(key) %>
    <% if val.respond_to?(:each_with_index) %>
      <%# must be an associated entity, so list the id for each one %>
      <% val.each_with_index do |one_val, index| %>
        <%= hidden_field_tag "#{base_id}[#{key}][#{index}]", one_val.try(:id) %>
      <% end %>
    <% else %>
      <%= hidden_field_tag "#{base_id}[#{key}]", val %>
    <% end %>
  <% end %>
  <%= hidden_field_tag "#{base_id}[_destroy]", "true" %>
  <%= check_box_tag "#{base_id}[_destroy]", "false", intersection_row.present?, check_box_options %>
  <span title="<%= intersected[title_field] %>" data-displayed_field>
    <%= intersected[displayed_field] %>
  </span>
</span>
