<% number_of_columns ||= 5 %>
<% foreign_key_type_name ||= nil %>
<% displayed_field ||= :name %>
<% title_field ||= displayed_field %>
<% foreign_key_name ||= (intersection_field.to_s + "_id").to_sym %>
<% total_count = available_intersection_list.count %>
<% subheader_field ||= nil %>
<% other_hidden_fields ||= nil %>
<% on_click ||= nil %>
<%# --- everything above this line is an optional parameter %>
<% previous_subheader_value = nil %>

<div class="field">
  <% if title.present? %>
    <span class="field-label"><%= title %></span>
  <% end %>
  <fieldset id="<%= member_name %>" class="expanding-fieldset-container">
    <table class="many_to_many_table <%= table_class %>">
      <% if total_count > 0 %>
        <% intersections = target.try(member_name).to_a %>
        <% display_index = nil %>
        <% intersection_rows = [] %>
        <% subheader_counts = {} %>
        <% available_intersection_list.each_with_index do |intersected, index| %>
          <% intersection_row = intersections.find{ |rw| (rw.try(intersection_field) == intersected) } %>
          <% intersection_rows << intersection_row %>
          <% intersections = intersections - [intersection_row] %>
          <% if subheader_field.present? %>
            <% subheader = intersected.try(subheader_field) %>
            <% count = subheader_counts[subheader] || 0 %>
            <% count = count + 1 if intersection_row.present? %>
            <% subheader_counts[subheader] = count %>
          <% end %>
        <% end %>
        <% row_style_display = "" %>
        <% subheader_index = 0 %>
        <% toggle_link_key = nil %>
        <% available_intersection_list.each_with_index do |intersected, index| %>
          <% if subheader_field.present? %>
            <% display_index = (display_index.nil? ? 0 : display_index+1) %>
            <% new_subheader = intersected.try(subheader_field) %>
            <% if new_subheader != previous_subheader_value %>
              <% subheader_index = subheader_index + 1 %>
              <% toggle_link_key = base_id.gsub(/[\[\]]/, "_") + member_name.to_s + "_sub" + subheader_index.to_s %>
              <tr>
                <td colspan="<%= number_of_columns %>">
                  <% if new_subheader.blank? %>
                    <span class="footnote">(n/a) </span>
                  <% else %>
                    <%= new_subheader %>
                  <% end %>
                  <% if subheader_counts[new_subheader] > 0 %>
                    <%= toggle_links(toggle_link_key, "-", "+") %>
                    <% row_style_display = "" %>
                  <% else %>
                    <%= toggle_links(toggle_link_key, "+", "-") %>
                    <% row_style_display = "display: none" %>
                  <% end %>
                  <%= link_to "select all", "#", :class => "quiet blue-highlight", 'data-target_toggle_id' => toggle_link_key, 'data-select_all' => 1 %>
                  <%= link_to "de-select all", "#", :class => "quiet blue-highlight", 'data-target_toggle_id' => toggle_link_key, 'data-select_all' => 0 %>
                </td>
              </tr>
              <% display_index = 0 %>
              <% previous_subheader_value = new_subheader %>
            <% end %>
          <% else %>
            <% display_index = index %>
            <% row_style_display = "" %>
          <% end %>
          <% row_options = { "data-toggle_id" => toggle_link_key, "style" => row_style_display } %>
          <% intersection_row = intersection_rows[index] %>
          <%= render :layout => 'layouts/fixed_table_columns', :locals => { :index => display_index, :number_of_columns => number_of_columns, :total_count => total_count, :row_options => row_options } do %>
            <% check_box_options = { :onclick => on_click } %>
            <% base_id = "#{base_id}[#{index}]" %>
            <span name="<%= base_id %>" class="many_to_many_cell">
              <%= hidden_field_tag "#{base_id}[id]", intersection_row.try(:id) %>
              <%= hidden_field_tag "#{base_id}[#{foreign_key_name}]", intersected[:id] %>
              <% other_hidden_fields.each do |(key, val)| %>
                <% val ||= intersected.try(key) %>
                <% if val.respond_to?(:each_with_index) %>
                  <%# must be an associated entity, so list the id for each one %>
                  <% val.each_with_index do |one_val, index| %>
                    <%= hidden_field_tag "#{base_id}[#{key}][#{index}]", one_val.try(:id) %>
                  <% end %>
                <% else %>
                  <%= hidden_field_tag "#{base_id}[#{key}]", val %>
                <% end %>
              <% end %>
              <%= hidden_field_tag "#{base_id}[_destroy]", "true" %>
              <%= check_box_tag "#{base_id}[_destroy]", "false", intersection_row.present?, check_box_options %>
              <span title="<%= intersected[title_field] %>" data-displayed_field>
                <%= intersected[displayed_field] %>
              </span>
            </span>
          <% end %>
        <% end %>
      <% else %>
        <span class="footnote">none applicable</span>
      <% end %>
    </table>
  </fieldset>
</div>

