<h1>Listing Equipment Categories</h1>

<%= page_entries_info equipment_categories %>

<table>
  <thead>
    <tr>
      <th><%= sortable "equipment_categories.name", EquipmentCategory, params, "Name" %></th>
      <th>Number of<br />equipment types</th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% equipment_categories.each_with_index do |equipment_category, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to equipment_category.name, equipment_category %></td>
        <td class="count"><%= equipment_category.equipment_types.count %></td>
        <%= render 'index_edit_destroy_links', target: equipment_category %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate equipment_categories %>

<%= link_to 'New Equipment category', new_equipment_category_path %>
