<%= form_for swarm, :html => { :multipart => true } do |f| %>
  <% if swarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(swarm.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% swarm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "monsters/form_name_and_class", f: f %>

  <div class="field">
    <%= f.label "Number of individuals" %>
    <%= f.text_field :number_description %>
  </div>
  <div class="threecolumblock">
    <div class="threecol1">
      <% charSet = [swarm.characteristic_monster("HT")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
      <% charSet = [swarm.characteristic_monster("HP")]  %>
      <%= render 'characteristic_monster_set_fields', f: f, c: charSet %>
    </div>
    <div class="threecol3">
      <%= render 'expanding_fieldset', f: f,
	id: "movement-rates", collection: :movement_rates,
	partial: 'movement_rate_fields', label: 'add move', header: "Move",
	header_list: [ :move_type_id, :rate, :enhanced_rate ], freeform: nil %>

    </div>
  </div>

  <%= render 'monsters/form_attacks', f: f %>

  <%= render 'monsters/form_monster_descriptive_details', f: f -%>

  <%= render 'form_campaign_chooser', f: f, campaigns: campaigns %>

  <div class="actions" style="clear: both;">
    <%= f.submit %>
  </div>
<% end %>
