<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<%= page_entries_info locations %>

<table class="fixed-table" style="width: 50%;">
  <thead>
    <tr>
      <th style="width: 200px;"><%= sortable "locations.name", Location, params, "Name" %></th>
      <%= render 'index_edit_destroy_headers' %>
    </tr>
  </thead>

  <tbody>
    <% locations.each_with_index do |location, index| %>
      <tr class="tr<%= index % 2 %>">
        <td><%= link_to location.name, location %></td>
        <%= render 'index_edit_destroy_links', target: location %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate locations %>
<%= link_to 'New Location', new_location_path %>
