<%# add navigation links to this file %>
  <li><%= link_to 'Monsters', monsters_path %>
    <ul>
      <li><%= link_to 'List All Monsters', monsters_path %></li>
      <li><%= link_to 'New Creature', new_creature_path %></li>
      <li><%= link_to 'New Swarm', new_swarm_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Equipment', controller: 'equipment_types' %>
    <ul>
      <li><%= link_to 'List All Equipment Types', equipment_types_path %></li>
      <li><%= link_to 'New Equipment Type', new_equipment_type_path %></li>
      <li><%= link_to 'Mass Entry of Equipment Type', mass_entry_equipment_types_path %></li>
      <li><%= link_to "Equipment Instances", equipment_pieces_path %></li>
      <li><%= link_to "Random Equipment Instance", randomize_campaigns_path %></li>
      <li><%= link_to "Equipment Modifier Categories", equipment_modifier_categories_path %></li>
      <li><%= link_to "Equipment Modifier Super-categories", equipment_modifier_supercategories_path %></li>
      <li>
        <%= link_to 'List All Equipment Modifiers', equipment_modifiers_path %>
      </li>
      <li>Packages
        <%= entity_links :equipment_package %>
    </ul>
  </li>
<% if cookies[:selected_campaign].present? -%>
  <li><%= link_to 'Ritual Path Magic', controller: 'rpm_rituals' %>
  <% if Campaign.find(cookies[:selected_campaign]).try(:rpm_potencies).try(:count).to_i > 0 -%>
    <%= entity_links :rpm_ritual %>
    <ul>
      <li><%= link_to 'List All RPM Rituals', rpm_rituals_path %></li>
      <li><%= link_to 'New RPM Ritual', new_rpm_ritual_path %></li>
      <li><%= link_to 'Rituals by Spell Effect', rpm_spell_effects_path %></li>
      <li><%= link_to 'Rituals Grid', grid_rpm_rituals_path %></li>
      <li><%= link_to 'Download as PDF', full_book_rpm_rituals_path, { :download => "rituals-#{Time.now.strftime("%Y%m%d-%H%M%S")}.pdf" } %></li>
      <li><%= link_to 'View PDF inline', full_book_rpm_rituals_path %></li>
    </ul>
  <% else -%>
    <ul><li><%= link_to 'Standard RPM setup', standard_rpm_path %></li></ul>
  <% end %>
  </li>
<% end -%>
  <li><span>Utility</span>
    <ul>
      <li><%= link_to 'Campaigns', controller: 'campaigns' %>
        <%= entity_links :campaign %>
      </li>
      <li><%= link_to 'Books', controller: 'books' %>
        <%= entity_links :book %>
      </li>
      <li><%= link_to 'Equipment Categories', controller: 'equipment_categories' %>
        <%= entity_links :equipment_category %>
      </li>
      <li>GURPS Campaign Elements
        <ul>
          <li><%= link_to 'Hit Locations', controller: 'locations' %>
            <%= entity_links :location %>
          </li>
          <li><%= link_to 'Master Skills', controller: 'master_skills' %>
            <%= entity_links :master_skill %>
          </li>
          <li><%= link_to 'Master Traits', controller: 'master_traits' %>
            <%= entity_links :master_trait %>
          </li>
          <li><%= link_to 'Monster Classes', controller: 'monster_classes' %>
            <%= entity_links :monster_class %>
          </li>
          <li><%= link_to 'Move Types', controller: 'move_types' %>
            <%= entity_links :move_type %>
          </li>
        </ul>
      </li>
      <li>Ritual Path Magic Elements
        <ul>
          <li><%= link_to 'Ritual Path Magic Potencies', controller: 'rpm_potencies' %>
            <%= entity_links :rpm_potency %>
          </li>
          <li><%= link_to 'Ritual Path Magic Effects', controller: 'rpm_effects' %>
            <%= entity_links :rpm_effect %>
          </li>
          <li><%= link_to 'Ritual Path Magic Paths', controller: 'rpm_paths' %>
            <%= entity_links :rpm_path %>
          </li>
          <li><%= link_to 'Ritual Path Magic Modifiers', controller: 'rpm_modifiers' %>
            <%= entity_links :rpm_modifier %>
          </li>
        </ul>
      </li>
    </ul>
  </li>