<%# add navigation links to this file %>
  <li><%= link_to 'Monsters', controller: 'monsters' %></li>
  <li><%= link_to 'Books', controller: 'books' %></li>
  <li><%= link_to 'Monster Classes', controller: 'monster_classes' %></li>
  <li><%= link_to 'Hit Locations', controller: 'locations' %></li>
  <li><%= link_to 'Terrain Types', controller: 'terrain_types' %></li>  
  <li><%= link_to 'Master Skill List', controller: 'master_skills' %></li>  
  <li><%= link_to 'Master Trait List', controller: 'master_traits' %></li>    