<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Monsters" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Monsters" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", {:skip_pipline => true} %>
    <%= csrf_meta_tags %>
    <script>
      <%= javascript_variables %>
    </script>
  </head>
  <body>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <footer class="gurps">
      GURPS is a trademark of Steve Jackson Games, and its rules and art are copyrighted by Steve Jackson Games. All rights are reserved by Steve Jackson Games. This game aid is the original creation of Mitchell E. French and is released for free distribution, and not for resale, under the permissions granted in the <a href="http://www.sjgames.com/general/online_policy.html">Steve Jackson Games Online Policy</a>.
    </footer>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
